{% load extra_options %}
{% if date %}
<div class="module front">
   <h2>{{message}} {{date|date:"d M y"}}</h2>

   <table summary="Slots">
      <tbody>
   {% for slot in slots %}
	<tr>
   <th><a href="{% url admin:wis_slots_change slot.slotid %}">
	{% ifequal today 'Y' %}
	{{ slot.start|time_convert}}
	{% else %}
	{{slot.start|date_full_format}}
	{% endifequal %}
	</a></th>
   <td>{{slot.schoolid.schoolname}}</td><td>{{slot.colour_scope|safe}}</td><td>{{slot.tag}}</td>
   </tr>
   {% empty %}
   <tr>
      <th colspan='4'>No slots</th><td>-</td>
      </tr>
   {% endfor %}
   </tbody>
   </table>

</div>

{% else %}

   <table summary="Slots">
      <tbody>
   {% for slot in slots %}
	<tr class="{% cycle 'row1' 'row2' %}">
   <th><a href="{% url admin:wis_slots_change slot.slotid %}">{{ slot.start|date_full_format}}</a></th>
   <td>{{slot.schoolid.schoolname}}</td><td>{{slot.colour_scope|safe}}</td>
   </tr>
   {% empty %}
   <tr>
      <th colspan='3'>No slots</th><td>-</td>
      </tr>
   {% endfor %}
   </tbody>
   </table>

{% endif %}