{% load extra_options %}
<div class="module front">
   <table summary="Users with status - {{status}}" class="{{status}}">
      <caption>{{ status|capfirst }} Registrations</caption>
      <tbody>
   {% for choice in choices %}
	<tr class="{% cycle 'row1' 'row2' %}">
   <th><a href="{% url admin:wis_registrations_change choice.schoolid %}">{{ choice.schoolname }}</a></th><td>{{ choice.schooladdress3 }}</td><td> {{choice.usertype|user_type_show}}</td>
   </tr>
{% endfor %}
</tbody>
</table>
</div>