{% load images_extras %}
{% for o in obs %}
							<li class="onecol{% if forloop.counter|divisibleby:6 %} lastcol{% else %}{% endif %}">
								<div class='thumb' about='{{ o.link_obs }}'>
									<span class='thumbnail'><a href='{{ o.link_obs }}'><img src='{{ o.thumbnail }}' alt='{{ o.objectname }}' /></a></span>
									<div class="thumb-caption"><div class="title ellipsis" property='UCD:obs' title='{{ o.objectname }}'>{{ o.objectname }}</div><div class="ellipsis">By <a href="{% url 'home' %}{{ o.link_user }}" class="observer" title="{{ o.user }}" property="UCD:obs.observer">{{ o.user }}</a></div></div>
					
									<div class='more-info'>
										<div class='name'>Title: <a href="{% url 'search' %}?query={{ o.objectname }}" property='dc:title'>{{ o.objectname }}</a></div>
										<div class='position'>RA: {{ o.ra|degreestohms }}, Dec: {{ o.dec|degreestodms }}<br /><span style='font-size:0.7em;'>(View coordinates in <a href='http://server1.wikisky.org/v2?ra={{ o.ra }}&amp;de={{ o.dec}}&amp;zoom=6&amp;img_source=astrophoto'>Wikisky</a> or <a href='http://www.worldwidetelescope.org/wwtweb/goto.aspx?object=ViewShortcut&amp;ra={{ o.ra }}&amp;dec={{ o.dec }}&amp;zoom=3'>WorldWideTelescope</a>)</span></div>
										<div class='telescope'>Site: {{ o.site }}</div>
										<div class='filter'>Filter: {{o.filter|safe}}</div>
										<div class='exposure'>Exposure: {{ o.exposure }} s (total)</div>
										<time datetime='{{ o.whentaken|isodatestamp }}'>Date: {{ o.whentaken|datestamp }}</time>
									</div>
								</div>
							</li>
{% endfor %}
