{% extends "admin/base.html" %}
{% load i18n %}

{% block extrastyle %}
{{ block.super }}<link rel="stylesheet" type="text/css" href="{% load adminmedia %}{% admin_media_prefix %}css/extra.css" />
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/lcogt.css" />
{% endblock %}

{% block title %}{{ title }} | {% trans 'RTI admin' %}{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block branding %}
<h1 id="site-name">{% trans 'RTI admin site' %}</h1>
{% endblock %}

{% block nav-global %}{% endblock %}
