body {
	overflow: hidden;
	margin: 0px;
	padding: 0px;
	font-family: Helvetica,Arial,sans-serif;
	background-color: black;
	color: white;
}
a {
	color: #bbb;
	text-decoration: none;
}
a:hover {
	color: #fff;
}
h1 {
	margin: 10px 0 0px 0;
	font-size: 1.2em;
}
p {
	margin: 0px;
}
p.telescope, p.date, p.observer {
	margin:0px;
	padding:0px;
}
#logo {
	position: absolute;
	margin:10px;
	float: left;
	z-index: 10!important;
	border: 0px;
}
#logo img {
	width: 75px;
	height: 27px;
	opacity:0.5;
	filter:alpha(opacity=50);
	border: 0px;
}
#result .intro {
	position: absolute;
	text-align: center;
	font-size: 1.5em;
	/* Fallback for web browsers that doesn't support RGBa */
	background: rgb(50, 50, 50);
	background: rgba(50, 50, 50, 0.8);
	padding: 20px;
	-webkit-border-radius: 0.4em;
	-moz-border-radius: 0.4em;
	border-radius: 0.4em;
}
#result .bigpicture {
	position: absolute;
	left: 0px;
	top: 0px;
	z-index:0;
}
#result .bigpicture img {
	height: 400px;
}
#result .info {
	position: absolute;
	left: 0px;
	top: 40px;
	z-index:1;
	padding: 15px;
	/* Fallback for web browsers that doesn't support RGBa */
	background: rgb(50, 50, 50);
	background: rgba(50, 50, 50, 0.5);
	color: white;
	-webkit-border-bottom-right-radius: 0.8em;
	-moz-border-radius-bottomright: 0.8em;
	border-bottom-right-radius: 0.8em;
	-webkit-border-top-right-radius: 0.8em;
	-moz-border-radius-topright: 0.8em;
	border-top-right-radius: 0.8em;
}
#result .controls {
	/* Fallback for web browsers that doesn't support RGBa */
	background: rgb(50, 50, 50);
	background: rgba(50, 50, 50, 0.8);
	position: absolute;
	z-index:1;
	-webkit-border-bottom-left-radius: 1em;
	-moz-border-radius-bottomleft: 1em;
	border-bottom-left-radius: 1em;
	padding: 0 5px 0 5px;
}
#result .play {
	border-color: transparent transparent transparent white;
	border-style:solid;
	border-width: 16px 0px 16px 32px;
	margin: 16px 10px 16px 20px;
	width: 0;
	height: 0;
	overflow: hidden;
	float:left;
}
#result .stop {
	border-color: white;
	border-style:solid;
	border-width: 10px;
	border-top: 0px;
	border-bottom: 0px;
	margin: 16px 16px 16px 20px;
	width: 7px;
	height: 32px;
	overflow: hidden;
	float:left;
	display: none;
}
#result .scroller {
	z-index:1;
	/* Fallback for web browsers that doesn't support RGBa */
	background: rgb(50, 50, 50);
	background: rgba(50, 50, 50, 0.7);
	bottom: 20px;
	left: 0px;
	height: 64px;
	width: 100%;
	overflow:hidden;
	position: absolute;
}
#result .scrollLeft {
	border-color: transparent white transparent transparent;
	border-style:solid;
	border-width: 16px;
	margin: 16px 5px 16px 5px;
	width: 0;
	height: 0;
	overflow: hidden;
	float:left;
	text-align: right;
}
#result .scrollRight {
	border-color: transparent transparent transparent white;
	border-style:solid;
	border-width: 16px;
	margin: 16px 5px 16px 5px;
	width: 0;
	height: 0;
	overflow: hidden;
	overflow: hidden;
	float:right;
}
#result .thumbnails {
	width: 80%;
	height: 64px;
	overflow: hidden;
}
#result .thumbnails ul {
	float: left;
	width: 600px;
	margin: 0px;
	padding: 0px;
}
#result .thumbnails li {
	display: inline;
	list-style-type: none;
}
#result .thumbnails li a {
	float: left;
}
#result .thumbnails img {
	width:50px;
	height:50px;
	margin:4px;
	border: 3px solid #888;
}