{% extends "admin/change_list.html" %}
{% load extra_options %}

{% block extrastyle %}

<link rel="stylesheet" href="{% load adminmedia %}{% admin_media_prefix %}css/extra.css" type="text/css" />
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}admin/css/base.css" />
<script type='text/javascript' src='{{ MEDIA_URL }}admin/js/jquery.js'></script>
    <script type='text/javascript'>

$(document).ready(function() {
	var pause = 30000;
	
function newAlerts() {
	var st = $(".alerttime:first").attr('time');
	$.post("{% url wis.views.update_alerts %}", {stamp : st, csrfmiddlewaretoken: '{{ csrf_token }}'}, function(data){
    	$("tbody").prepend(data);
	});
	var newst = $(".alerttime:first").attr('stamp');
	$("#alertupdate").html(newst);
}

interval = setInterval(newAlerts, pause);

});

 </script>
{% endblock %}

{% block coltype %}flex{% endblock %}

{% block bodyclass %}change-list{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block title %}Alerts since {{start|date:"H:i d M Y"}}{% endblock %}

{% block nav-global %}
{% include "admin/menu.html" %}
{% endblock %}

{% block content %}
<div id="content-main">
  <div id="changelist">
  <h1>RTI alerts from <span id="alertupdate">{{start|date:"d M Y"}}</span></h1>
  <div class="module filtered" id="changelist">
   {% block result_list %}
  <table class="bluetable" id="alertstable">
	<thead>
	<tr>
		<th>Time</th><th width=30%>Faulkes Telescope North</th><th width=30%>Faulkes Telescope South</th><th>System messages</th>
	</tr>
	</thead>
	<tbody>
  {% for a in alerts %}
	<tr>
		
		<td>{{a.alertdatetime|time_format}}</td>
		{% ifequal a.telescopeid 1 %}
		<td>
		{{a.alertmessage|alert_status|safe}}</td><td></td><td></td>
		{% endifequal %}
		
		{% ifequal a.telescopeid 2 %}
		<td></td><td>{{a.alertmessage|alert_status|safe}}</td><td></td>
		{% endifequal %}
		
		{% ifequal a.telescopeid -1 %}
		<td colspan=2></td>
		<td>{{a.alertmessage|alert_status|safe}}</td>
		{% endifequal %}
	
	</tr>
  {% empty %}
	<tr>
		<td colspan=4><em>No alerts since {{start|date:"H:i d M Y"}}</td>
	</tr>
  {% endfor %}
</tbody>
</table>
<span time="{{start|date:"YmdHis"}}" class="alerttime" >
{% endblock %}
</div>
</div>
</div>
{% endblock %}