{% load extra_options %}
<div id="content-related">
   
<div class="module">
	<h2>Check School URI</h2>
	<div class="form-row">
		<div id="schooluri">
			<a href="#" class="urilookup" pc="{{postcode|upper}}">Look up school</a><br/><br/>
		</div>
	</div>

   <div class="module">
   <h2>Booked slots <span class="toggle_button"><a href="#">Show/Hide</a></span></h2>
      <div id="bookings">
            <div class="form-row"><a href="#" class='bookedslots'>Get bookings</a></div>
      </div>
   </div>

<div class="module">
   <form>
      <fieldset class="collapse">
<h2>Email User options</h2>
		<ul id="menu">
			{% for e in emails %}
			<li><a href="email/{{e.id}}/">{{e.title}}</a></li>
			{% endfor %}
		</ul>
		</fieldset>
</form>
</div>

<div class="module aligned">
<form>
   <h2>Observing Credit</h2>

   <div class="form-row">
   <label for="peakmins">Add mins:</label><input type="text" id="peakmins" name="peakmins" size=4 /> Current Credit <span id="mins">{{peakmins}}</span> mins 
	</div>
   <div class="form-row">
   <label for="reason">Reason:</label><input type="text" id="reason" name="reason" size=30 />
   <a href="#" class="updatecredit">Update credit</a>
   </div>
</form>
</div>
<div class="module">
   <h2>Account Activity</h2>
<ul id="hist">
   <li>Created: <em>{{created|date_full_format}}</em></li>
{% for h in history %}
  <li>{{h.action_time|date:"H:i, j M y"}} - {{h.change_message}} ({{h.user}})</li>
{% endfor %}
</ul>
</div>
</div>