/*
	LCOGT Master CSS
	Created 15 September 2011
	Last updated 18 May 2015
 */
.access { display: none; }
body {
	font-size: 1em;
	margin: auto;
	font-family: Helvetica, "Bitstream Vera Sans", Arial, sans-serif
}
pre, code { font-family: "Bitstream Vera Sans Mono", "Courier New", monospace; font-size: 1em; }
h1, h2, h3, h4, h5, h6 { margin-top:0px; font-family: Century Gothic, sans-serif; color: #404040; font-weight: bold; }
h1 { font-size: 1.6em; margin-bottom: 0; }
h2 { font-size: 1.4em; margin-bottom: 0.4em; }
h3 { font-size: 1.2em; margin-top: 0.5em; margin-bottom: 0.3em; }
h4 { font-size: 1.1em; margin-top: 0.45em; margin-bottom: 0.45em; }

p, ul, ol, dl, pre, table, fieldset { margin: 4px 0 12px 0; }
ul, ol { margin: 0px 0 8px 0; padding-left: 1.2em; }
.block ul, .item-list ul { margin: 1em 0; padding: 0 0 0 2em; }
ul ul, ul ol, ul ol, ol ul, .block ul ul, .block ul ol, .block ol ol, .block ol ul, .item-list ul ul, .item-list ul ol, .item-list ol ol, .item-list ol ul { margin: 0; }
ul.menu li, li.expanded, li.collapsed, li.leaf, li { margin: 0; padding: 0; }
.item-list ul li { list-style: inherit; margin: 0; padding: 0; }
ul { list-style-type: disc; }
ul ul { list-style-type: circle; }
ul ul ul { list-style-type: square; }
ul ul ul ul { list-style-type: circle; }
ol { list-style-type: decimal; }
ol ol { list-style-type: lower-alpha; }
ol ol ol { list-style-type: decimal; }
ul.newslist {list-style: outside none none; margin: 0;padding-left: 0;}
ul.newslist li {margin-bottom:4px;}
li .blog-date, li .blog-title, li .seminar-date, li .seminar-title { display: table-cell;}
li .blog-date {width:60px;}
li .seminar-date {width:100px;}

a { color: #3366DD; text-decoration: none; }
a:visited { color: #3366DD; }
a:hover, a:focus { color: #f46262; text-decoration: underline; }
a:active { color: #a2c0dd; text-decoration: underline; }

table { border-collapse: collapse; border: 1px solid #ccc; }
th, thead th, tbody th { border-bottom: 1px solid #ccc; font-weight: bold; vertical-align: top; }
tbody { border-top: none; }
table .odd { background: #e6e6e6; }
table .even { background: #fff; }
table th, table td { border-bottom: 1px solid #ccc; border-right: 1px solid #ccc; border-collapse: separate; padding: 0px 8px 0px 8px; vertical-align: top; line-height: 1.5em; }
table th { background: #ccc; }
abbr { border-bottom: 1px dotted #606060; cursor: help; white-space: nowrap; }
abbr.created { border: none; cursor: auto; white-space: normal; }
img { border: 0; }
hr { border: 1px solid #606060; height: 1px; }
form { margin: 0; padding: 0; }
fieldset { margin: 1em 0; }

/* Fix for <sub> and <sup> to stop them affecting line spacings */
sup, sub { font-size:0.7em; height: 0; line-height: 1; vertical-align: baseline; _vertical-align: bottom; position: relative; }
sup { bottom: 1ex; }
sub { top: .5ex; }

#header #content, #navbar, #section-nav, #sidebar-right, #footer, #closure-blocks {
	overflow: visible;
	word-wrap: break-word;
}
.clear-block:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.clear-block { display: inline-block; }
/* Hides from IE-mac \*/
* html .clear-block { height: 1%; }
.clear-block { display: block; }
/* End hide from IE-mac */

.element-invisible { display: none; }
/* End of defaults */


/* Clear Drupal styles */
li.search .form-item, li.search .form-type-textfield li.search .form-item-search-block-form, li.search .form-actions, li.search .form-wrapper {
	display: block;
	float:left;
	margin: 0px;
	padding: 0px;
}
li.search { width:336px!important; }
li.search .contextual-links-region input.search { width: 256px!important; margin-right: 0px; }
li.search .contextual-links-region {   }
/* End of Drupal style fix */

#page-wrapper { background: url('http://lcogt.net/static/img/new-bg.png') repeat-x transparent; }
#page { background: url('http://lcogt.net/static/img/new-header-bg.png') transparent no-repeat; background-position: center top; }

p.skip-link { display: none; }
p.last { margin-right: 0px; }

.red, .red a { color: rgb(223, 0, 0); }
.blue, .blue a { color: rgb(0, 0, 255); }
.yellow, .yellow a { color: rgb(251, 201, 0); }
.green, .green a { color: rgb(0, 157, 0); }
.gray, .gray a { color: rgb(204, 204, 204); }
.redbg a, .bluebg a, .greenbg a { color: white; }
.yellowbg a, .graybg a { color: black; }
.redbg { background-color: rgb(223, 0, 0)!important; }
.bluebg { background-color: rgb(0, 0, 255)!important; }
.yellowbg { background-color: rgb(251, 201, 0)!important; }
.greenbg { background-color: rgb(0, 157, 0)!important; }
.graybg { background-color: rgb(204, 204, 204)!important; }
.darkgraybg { background-color: rgb(128, 128, 128)!important; }

body.home #main { border-bottom: 4px solid #999999; }
body.network #main { border-bottom: 4px solid #3366DD; }
body.observatory #main { border-bottom: 4px solid #3366DD; }
body.science #main { border-bottom: 4px solid rgb(251, 201, 0); }
body.education #main { border-bottom: 4px solid rgb(0, 157, 0); }
body.search #main { border-bottom: 4px solid #df0000; }
body.home ul#main-menu { border-bottom: 4px solid #999999; }
body.home ul#main-menu li.home a, ul#main-menu li.home:hover a { color: white; background-color: #999999; }
body.network ul#main-menu { border-bottom: 4px solid #3366DD; }
body.network ul#main-menu li.network a, ul#main-menu li.network:hover a { color: white; background-color: #3366DD; }
body.observatory ul#main-menu { border-bottom: 4px solid #3366DD; }
body.observatory ul#main-menu li.observatory a, ul#main-menu li.observatory:hover a { color: white; background-color: #3366DD; }
body.science ul#main-menu { border-bottom: 4px solid rgb(251, 201, 0); }
body.science ul#main-menu li.science a, #main ul#main-menu li.science:hover a { color: black; background-color: rgb(251, 201, 0); }
body.education ul#main-menu { border-bottom: 4px solid rgb(0, 157, 0); }
body.education ul#main-menu li.education a, ul#main-menu li.education:hover a { color: white; background-color: rgb(0, 157, 0); }
body.search ul#main-menu { border-bottom: 4px solid #df0000; }
body.search ul#main-menu li.search { color: white; background-color: #df0000!important; }

.blue-1-grad { -o-background-size: 100% 100%;-moz-background-size: 100% 100%;-webkit-background-size: 100% 100%;background-size: 100% 100%;/* Internet Explorer */*background: #1a2642;background: #1a2642\0/;filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr=#FF000000, endColorstr=#FF1a2642);/* Recent browsers */background-image: -webkit-gradient(linear,left top, left bottom,from(#000000),to(#1a2642));background-image: -webkit-linear-gradient(top,#000000,#1a2642);background-image: -moz-linear-gradient(top,#000000,#1a2642);background-image: -o-linear-gradient(top,#000000,#1a2642);background-image: linear-gradient(top,#000000,#1a2642);color: white; }
.blue-1-grad a { color: white }
.blue-1-bg, .blue-1-bg a { background-color: #1a2642; color: white; }
.blue-1, .blue-1 a { color: #1a2642; }
.blue-2-grad { -o-background-size: 100% 100%;-moz-background-size: 100% 100%;-webkit-background-size: 100% 100%;background-size: 100% 100%;/* Internet Explorer */*background: #263c6f;background: #263c6f\0/;filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr=#FF1a2642, endColorstr=#FF263c6f);/* Recent browsers */background-image: -webkit-gradient(linear,left top, left bottom,from(#1a2642),to(#263c6f));background-image: -webkit-linear-gradient(top,#1a2642,#263c6f);background-image: -moz-linear-gradient(top,#1a2642,#263c6f);background-image: -o-linear-gradient(top,#1a2642,#263c6f);background-image: linear-gradient(top,#1a2642,#263c6f);color: white; }
.blue-2-grad a { color: white }
.blue-2-bg, .blue-2-bg a { background-color: #263c6f; color: white; }
.blue-2, .blue-2 a { color: #263c6f; }
.blue-3-grad, .fancybtn-blue { -o-background-size: 100% 100%;-moz-background-size: 100% 100%;-webkit-background-size: 100% 100%;background-size: 100% 100%;/* Internet Explorer */*background: #3366dd;background: #3366dd\0/;filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr=#FF263c6f, endColorstr=#FF3366dd);/* Recent browsers */background-image: -webkit-gradient(linear,left top, left bottom,from(#263c6f),to(#3366dd));background-image: -webkit-linear-gradient(top,#263c6f,#3366dd);background-image: -moz-linear-gradient(top,#263c6f,#3366dd);background-image: -o-linear-gradient(top,#263c6f,#3366dd);background-image: linear-gradient(top,#263c6f,#3366dd);color: white; }
.blue-3-grad a { color: white }
.blue-3-bg, .blue-3-bg a { background-color: #3366dd; color: white; }
.blue-3, .blue-3 a { color: #3366dd; }
.blue-4-grad { -o-background-size: 100% 100%;-moz-background-size: 100% 100%;-webkit-background-size: 100% 100%;background-size: 100% 100%;/* Internet Explorer */*background: #9ab5f4;background: #9ab5f4\0/;filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr=#FF3366dd, endColorstr=#FF9ab5f4);/* Recent browsers */background-image: -webkit-gradient(linear,left top, left bottom,from(#3366dd),to(#9ab5f4));background-image: -webkit-linear-gradient(top,#3366dd,#9ab5f4);background-image: -moz-linear-gradient(top,#3366dd,#9ab5f4);background-image: -o-linear-gradient(top,#3366dd,#9ab5f4);background-image: linear-gradient(top,#3366dd,#9ab5f4);color: black; }
.blue-4-grad a { color: black }
.blue-4-bg, .blue-4-bg a { background-color: #9ab5f4; color: black; }
.blue-4, .blue-4 a { color: #9ab5f4; }
.green-1-grad { -o-background-size: 100% 100%;-moz-background-size: 100% 100%;-webkit-background-size: 100% 100%;background-size: 100% 100%;/* Internet Explorer */*background: #002f00;background: #002f00;filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr=#FF000000, endColorstr=#FF002f00);/* Recent browsers */background-image: -webkit-gradient(linear,left top, left bottom,from(#000000),to(#002f00));background-image: -webkit-linear-gradient(top,#000000,#002f00);background-image: -moz-linear-gradient(top,#000000,#002f00);background-image: -o-linear-gradient(top,#000000,#002f00);background-image: linear-gradient(top,#000000,#002f00);color: white; }
.green-1-grad a { color: white }
.green-1-bg, .green-1-bg a { background-color: #002f00; color: white; }
.green-1, .green-1 a { color: #002f00; }
.green-2-grad { -o-background-size: 100% 100%;-moz-background-size: 100% 100%;-webkit-background-size: 100% 100%;background-size: 100% 100%;/* Internet Explorer */*background: #004f00;background: #004f00;filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr=#FF002f00, endColorstr=#FF004f00);/* Recent browsers */background-image: -webkit-gradient(linear,left top, left bottom,from(#002f00),to(#004f00));background-image: -webkit-linear-gradient(top,#002f00,#004f00);background-image: -moz-linear-gradient(top,#002f00,#004f00);background-image: -o-linear-gradient(top,#002f00,#004f00);background-image: linear-gradient(top,#002f00,#004f00);color: white; }
.green-2-grad a { color: white }
.green-2-bg, .green-2-bg a { background-color: #004f00; color: white; }
.green-2, .green-2 a { color: #004f00; }
.green-3-grad, .fancybtn { -o-background-size: 100% 100%;-moz-background-size: 100% 100%;-webkit-background-size: 100% 100%;background-size: 100% 100%;/* Internet Explorer */*background: #009d00;background: #009d00;filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr=#FF004f00, endColorstr=#FF009d00);/* Recent browsers */background-image: -webkit-gradient(linear,left top, left bottom,from(#004f00),to(#009d00));background-image: -webkit-linear-gradient(top,#004f00,#009d00);background-image: -moz-linear-gradient(top,#004f00,#009d00);background-image: -o-linear-gradient(top,#004f00,#009d00);background-image: linear-gradient(top,#004f00,#009d00);color: white; }
.green-3-grad a { color: white }
.green-3-bg, .green-3-bg a { background-color: #009d00; color: white; }
.green-3, .green-3 a { color: #009d00; }
.green-4-grad { -o-background-size: 100% 100%;-moz-background-size: 100% 100%;-webkit-background-size: 100% 100%;background-size: 100% 100%;/* Internet Explorer */*background: #59de59;background: #59de59;filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr=#FF009d00, endColorstr=#FF59de59);/* Recent browsers */background-image: -webkit-gradient(linear,left top, left bottom,from(#009d00),to(#59de59));background-image: -webkit-linear-gradient(top,#009d00,#59de59);background-image: -moz-linear-gradient(top,#009d00,#59de59);background-image: -o-linear-gradient(top,#009d00,#59de59);background-image: linear-gradient(top,#009d00,#59de59);color: white; }
.green-4-grad a { color: white }
.green-4-bg, .green-4-bg a { background-color: #59de59; color: white; }
.green-4, .green-4 a { color: #59de59; }
.yellow-1-grad { -o-background-size: 100% 100%;-moz-background-size: 100% 100%;-webkit-background-size: 100% 100%;background-size: 100% 100%;/* Internet Explorer */*background: #4b3c00;background: #4b3c00;filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr=#FF000000, endColorstr=#FF4b3c00);/* Recent browsers */background-image: -webkit-gradient(linear,left top, left bottom,from(#000000),to(#4b3c00));background-image: -webkit-linear-gradient(top,#000000,#4b3c00);background-image: -moz-linear-gradient(top,#000000,#4b3c00);background-image: -o-linear-gradient(top,#000000,#4b3c00);background-image: linear-gradient(top,#000000,#4b3c00);color: white; }
.yellow-1-grad a { color: white }
.yellow-1-bg, .yellow-1-bg a { background-color: #4b3c00; color: white; }
.yellow-1, .yellow-1 a { color: #4b3c00; }
.yellow-2-grad { -o-background-size: 100% 100%;-moz-background-size: 100% 100%;-webkit-background-size: 100% 100%;background-size: 100% 100%;/* Internet Explorer */*background: #7d6500;background: #7d6500;filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr=#FF4b3c00, endColorstr=#FF7d6500);/* Recent browsers */background-image: -webkit-gradient(linear,left top, left bottom,from(#4b3c00),to(#7d6500));background-image: -webkit-linear-gradient(top,#4b3c00,#7d6500);background-image: -moz-linear-gradient(top,#4b3c00,#7d6500);background-image: -o-linear-gradient(top,#4b3c00,#7d6500);background-image: linear-gradient(top,#4b3c00,#7d6500);color: white; }
.yellow-2-grad a { color: white }
.yellow-2-bg, .yellow-2-bg a { background-color: #7d6500; color: white; }
.yellow-2, .yellow-2 a { color: #7d6500; }
.yellow-3-grad { -o-background-size: 100% 100%;-moz-background-size: 100% 100%;-webkit-background-size: 100% 100%;background-size: 100% 100%;/* Internet Explorer */*background: #fac900;background: #fac900;filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr=#FF7d6500, endColorstr=#FFfac900);/* Recent browsers */background-image: -webkit-gradient(linear,left top, left bottom,from(#7d6500),to(#fac900));background-image: -webkit-linear-gradient(top,#7d6500,#fac900);background-image: -moz-linear-gradient(top,#7d6500,#fac900);background-image: -o-linear-gradient(top,#7d6500,#fac900);background-image: linear-gradient(top,#7d6500,#fac900);color: black; }
.yellow-3-grad a { color: black }
.yellow-3-bg, .yellow-3-bg a { background-color: #fac900; color: black; }
.yellow-3, .yellow-3 a { color: #fac900; }
.yellow-4-grad { -o-background-size: 100% 100%;-moz-background-size: 100% 100%;-webkit-background-size: 100% 100%;background-size: 100% 100%;/* Internet Explorer */*background: #fde065;background: #fde065;filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr=#FFfac900, endColorstr=#FFfde065);/* Recent browsers */background-image: -webkit-gradient(linear,left top, left bottom,from(#fac900),to(#fde065));background-image: -webkit-linear-gradient(top,#fac900,#fde065);background-image: -moz-linear-gradient(top,#fac900,#fde065);background-image: -o-linear-gradient(top,#fac900,#fde065);background-image: linear-gradient(top,#fac900,#fde065);color: black; }
.yellow-4-grad a { color: black }
.yellow-4-bg, .yellow-4-bg a { background-color: #fde065; color: black; }
.yellow-4, .yellow-4 a { color: #fde065; }
.yellow-5-grad { -o-background-size: 100% 100%;-moz-background-size: 100% 100%;-webkit-background-size: 100% 100%;background-size: 100% 100%;/* Internet Explorer */*background: #fff5cc;background: #fff5cc\0/;filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr=#FFfde065, endColorstr=#FFfff5cc);/* Recent browsers */background-image: -webkit-gradient(linear,left top, left bottom,from(#fde065),to(#fff5cc));background-image: -webkit-linear-gradient(top,#fde065,#fff5cc);background-image: -moz-linear-gradient(top,#fde065,#fff5cc);background-image: -o-linear-gradient(top,#fde065,#fff5cc);background-image: linear-gradient(top,#fde065,#fff5cc);color: black; }
.yellow-5-grad a { color: black }
.yellow-5-bg, .yellow-5-bg a { background-color: #fff5cc; color: black; }
.yellow-5, .yellow-5 a { color: #fff5cc; }
.red-1-grad { -o-background-size: 100% 100%;-moz-background-size: 100% 100%;-webkit-background-size: 100% 100%;background-size: 100% 100%;/* Internet Explorer */*background: #430000;background: #430000;filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr=#FF000000, endColorstr=#FF430000);/* Recent browsers */background-image: -webkit-gradient(linear,left top, left bottom,from(#000000),to(#430000));background-image: -webkit-linear-gradient(top,#000000,#430000);background-image: -moz-linear-gradient(top,#000000,#430000);background-image: -o-linear-gradient(top,#000000,#430000);background-image: linear-gradient(top,#000000,#430000);color: white; }
.red-1-grad a { color: white }
.red-1-bg, .red-1-bg a { background-color: #430000; color: white; }
.red-1, .red-1 a { color: #430000; }
.red-2-grad { -o-background-size: 100% 100%;-moz-background-size: 100% 100%;-webkit-background-size: 100% 100%;background-size: 100% 100%;/* Internet Explorer */*background: #700000;background: #700000;filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr=#FF430000, endColorstr=#FF700000);/* Recent browsers */background-image: -webkit-gradient(linear,left top, left bottom,from(#430000),to(#700000));background-image: -webkit-linear-gradient(top,#430000,#700000);background-image: -moz-linear-gradient(top,#430000,#700000);background-image: -o-linear-gradient(top,#430000,#700000);background-image: linear-gradient(top,#430000,#700000);color: white; }
.red-2-grad a { color: white }
.red-2-bg, .red-2-bg a { background-color: #700000; color: white; }
.red-2, .red-2 a { color: #700000; }
.red-3-grad { -o-background-size: 100% 100%;-moz-background-size: 100% 100%;-webkit-background-size: 100% 100%;background-size: 100% 100%;/* Internet Explorer */*background: #df0000;background: #df0000;filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr=#FF700000, endColorstr=#FFdf0000);/* Recent browsers */background-image: -webkit-gradient(linear,left top, left bottom,from(#700000),to(#df0000));background-image: -webkit-linear-gradient(top,#700000,#df0000);background-image: -moz-linear-gradient(top,#700000,#df0000);background-image: -o-linear-gradient(top,#700000,#df0000);background-image: linear-gradient(top,#700000,#df0000);color: white; }
.red-3-grad a { color: white }
.red-3-bg, .red-3-bg a { background-color: #df0000; color: white; }
.red-3, .red-3 a { color: #df0000; }
.red-4-grad { -o-background-size: 100% 100%;-moz-background-size: 100% 100%;-webkit-background-size: 100% 100%;background-size: 100% 100%;/* Internet Explorer */*background: #f46262;background: #f46262;filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr=#FFdf0000, endColorstr=#FFf46262);/* Recent browsers */background-image: -webkit-gradient(linear,left top, left bottom,from(#df0000),to(#f46262));background-image: -webkit-linear-gradient(top,#df0000,#f46262);background-image: -moz-linear-gradient(top,#df0000,#f46262);background-image: -o-linear-gradient(top,#df0000,#f46262);background-image: linear-gradient(top,#df0000,#f46262);color: white; }
.red-4-grad a { color: white }
.red-4-bg, .red-4-bg a { background-color: #f46262; color: white; }
.red-4, .red-4 a { color: #f46262; }
.gray-1-grad { -o-background-size: 100% 100%;-moz-background-size: 100% 100%;-webkit-background-size: 100% 100%;background-size: 100% 100%;/* Internet Explorer */*background: #404040;background: #404040;filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr=#FF000000, endColorstr=#FF404040);/* Recent browsers */background-image: -webkit-gradient(linear,left top, left bottom,from(#000000),to(#404040));background-image: -webkit-linear-gradient(top,#000000,#404040);background-image: -moz-linear-gradient(top,#000000,#404040);background-image: -o-linear-gradient(top,#000000,#404040);background-image: linear-gradient(top,#000000,#404040);color: white; }
.gray-1-bg { background-color: #404040; color: white; }
.gray-1 { color: #404040; }
.gray-2-grad, #lcogt-bar { -o-background-size: 100% 100%;-moz-background-size: 100% 100%;-webkit-background-size: 100% 100%;background-size: 100% 100%;/* Internet Explorer */*background: #606060;background: #606060;filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr=#FF404040, endColorstr=#FF606060);/* Recent browsers */background-image: -webkit-gradient(linear,left top, left bottom,from(#404040),to(#606060));background-image: -webkit-linear-gradient(top,#404040,#606060);background-image: -moz-linear-gradient(top,#404040,#606060);background-image: -o-linear-gradient(top,#404040,#606060);background-image: linear-gradient(top,#404040,#606060);color: white; }
.gray-2-bg { background-color: #606060; color: white; }
.gray-2 { color: #606060; }
.gray-3-grad { -o-background-size: 100% 100%;-moz-background-size: 100% 100%;-webkit-background-size: 100% 100%;background-size: 100% 100%;/* Internet Explorer */*background: #808080;background: #808080;filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr=#FF606060, endColorstr=#FF808080);/* Recent browsers */background-image: -webkit-gradient(linear,left top, left bottom,from(#606060),to(#808080));background-image: -webkit-linear-gradient(top,#606060,#808080);background-image: -moz-linear-gradient(top,#606060,#808080);background-image: -o-linear-gradient(top,#606060,#808080);background-image: linear-gradient(top,#606060,#808080);color: white; }
.gray-3-bg { background-color: #808080; color: white; }
.gray-3 { color: #808080; }
.gray-4-grad { -o-background-size: 100% 100%;-moz-background-size: 100% 100%;-webkit-background-size: 100% 100%;background-size: 100% 100%;/* Internet Explorer */*background: #999999;background: #999999;filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr=#FF808080, endColorstr=#FF999999);/* Recent browsers */background-image: -webkit-gradient(linear,left top, left bottom,from(#808080),to(#999999));background-image: -webkit-linear-gradient(top,#808080,#999999);background-image: -moz-linear-gradient(top,#808080,#999999);background-image: -o-linear-gradient(top,#808080,#999999);background-image: linear-gradient(top,#808080,#999999);color: white; }
.gray-4-bg { background-color: #999999; color: white; }
.gray-4 { color: #999999; }
.gray-5-grad { -o-background-size: 100% 100%;-moz-background-size: 100% 100%;-webkit-background-size: 100% 100%;background-size: 100% 100%;/* Internet Explorer */*background: #b3b3b3;background: #b3b3b3;filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr=#FF999999, endColorstr=#FFb3b3b3);/* Recent browsers */background-image: -webkit-gradient(linear,left top, left bottom,from(#999999),to(#b3b3b3));background-image: -webkit-linear-gradient(top,#999999,#b3b3b3);background-image: -moz-linear-gradient(top,#999999,#b3b3b3);background-image: -o-linear-gradient(top,#999999,#b3b3b3);background-image: linear-gradient(top,#999999,#b3b3b3);color: black; }
.gray-5-bg { background-color: #b3b3b3; color: black; }
.gray-5 { color: #b3b3b3; }
.gray-6-grad { -o-background-size: 100% 100%;-moz-background-size: 100% 100%;-webkit-background-size: 100% 100%;background-size: 100% 100%;/* Internet Explorer */*background: #cccccc;background: #cccccc;filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr=#FFb3b3b3, endColorstr=#FFcccccc);/* Recent browsers */background-image: -webkit-gradient(linear,left top, left bottom,from(#b3b3b3),to(#cccccc));background-image: -webkit-linear-gradient(top,#b3b3b3,#cccccc);background-image: -moz-linear-gradient(top,#b3b3b3,#cccccc);background-image: -o-linear-gradient(top,#b3b3b3,#cccccc);background-image: linear-gradient(top,#b3b3b3,#cccccc);color: black; }
.gray-6-bg { background-color: #cccccc; color: black; }
.gray-6 { color: #cccccc; }
.gray-7-grad { -o-background-size: 100% 100%;-moz-background-size: 100% 100%;-webkit-background-size: 100% 100%;background-size: 100% 100%;/* Internet Explorer */*background: #e6e6e6;background: #e6e6e6;filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr=#FFcccccc, endColorstr=#FFe6e6e6);/* Recent browsers */background-image: -webkit-gradient(linear,left top, left bottom,from(#cccccc),to(#e6e6e6));background-image: -webkit-linear-gradient(top,#cccccc,#e6e6e6);background-image: -moz-linear-gradient(top,#cccccc,#e6e6e6);background-image: -o-linear-gradient(top,#cccccc,#e6e6e6);background-image: linear-gradient(top,#cccccc,#e6e6e6);color: black; }
.gray-7-bg { background-color: #e6e6e6; color: black; }
.gray-7 { color: #e6e6e6; }
.gray-8-grad { -o-background-size: 100% 100%;-moz-background-size: 100% 100%;-webkit-background-size: 100% 100%;background-size: 100% 100%;/* Internet Explorer */*background: #ffffff;background: #ffffff\0/;filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr=#FFe6e6e6, endColorstr=#FFffffff);/* Recent browsers */background-image: -webkit-gradient(linear,left top, left bottom,from(#e6e6e6),to(#ffffff));background-image: -webkit-linear-gradient(top,#e6e6e6,#ffffff);background-image: -moz-linear-gradient(top,#e6e6e6,#ffffff);background-image: -o-linear-gradient(top,#e6e6e6,#ffffff);background-image: linear-gradient(top,#e6e6e6,#ffffff);color: black; }
.gray-8-grad a { color: black }
.gray-8-bg, .gray-8-bg a { background-color: #ffffff; color: black; }
.gray-8, .gray-8 a { color: #ffffff; }

#screen {
	/*
	background: url('http://rti.faulkes-telescope.com/observations/2011/07/29/process-150-2.jpg') transparent no-repeat;
	background: url('http://rti.faulkes-telescope.com/observations/2011/07/29/process-148-2.jpg') transparent no-repeat;
	background: url('http://rti.faulkes-telescope.com/observations/2011/07/29/process-149-2.jpg') transparent no-repeat;
	*/
	background-position: center -464px;
	height: 100%;
	margin: 0 auto;
	padding: 0px;
	width: 976px;
	position: relative;
}

#container {
	/*background: url('lcogt-bg-fade.png') transparent no-repeat;*/
	background-position: center top;
}
#lcogt-bar {
	padding:3px 8px;
	margin: 0;
	height: 24px;
	clear:both;
	line-height: 24px;
	color: #cccccc;
	font-size: 0.9em;
	overflow: hidden;
}
#lcogt-bar a {
	color: white;
	text-decoration: none;
}
#login {
	/**float: right;
	margin: 5px 0 5px -12px;**/
	margin: 0;
	padding: 0 0 0 0;
	display: inline;
	float: right;
	text-align: right;
}

#login .block {
	display: block;
	margin: 0!important;
	padding: 0!important;
}
#header {
	height: 117px;
}
#logo {
	float: left;
	margin-top:16px;
	margin-bottom:16px;
	padding:0;
}
#logo img { height: 80px; }
#site-name a { display: inline; color: black; font-size: 28px; text-decoration: none; }
#site-name {
	float: left;
	font-size: 32px;
	line-height: 1em;
	margin: 16px;
	margin-top:24px;
	margin-bottom: 4px;
	font-family: Century Gothic, sans-serif;
	color: #404040;
}
#site-name em, #site-name em {
	display: block;
	font-size: 0.65em;
	font-style: normal;
	font-weight: 400;
}
#logo2 {
	float: right;
	position:relative;
	padding: 30px 0px 5px 0;
}
.head {
	padding:16px;
	overflow: hidden;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.6);
	-moz-box-shadow: 0px 0px 5px rgba(0,0,0,0.6);
	-webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.6);
}

body.grid #main {
	background-image: -webkit-linear-gradient(0deg, rgba(255,0,0,.1) 12.5%, rgba(255,0,0,.15) 12.5%, rgba(255,0,0,.15) 25%, rgba(255,0,0,.1) 25%, rgba(255,0,0,.1) 37.5%, rgba(255,0,0,.15) 37.5%, rgba(255,0,0,.15) 50%, transparent 50%, transparent);
	background-image: -moz-linear-gradient(0deg, rgba(255,0,0,.1) 12.5%, rgba(255,0,0,.15) 12.5%, rgba(255,0,0,.15) 25%, rgba(255,0,0,.1) 25%, rgba(255,0,0,.1) 37.5%, rgba(255,0,0,.15) 37.5%, rgba(255,0,0,.15) 50%, transparent 50%, transparent);
	background-image: -ms-linear-gradient(0deg, rgba(255,0,0,.1) 12.5%, rgba(255,0,0,.15) 12.5%, rgba(255,0,0,.15) 25%, rgba(255,0,0,.1) 25%, rgba(255,0,0,.1) 37.5%, rgba(255,0,0,.15) 37.5%, rgba(255,0,0,.15) 50%, transparent 50%, transparent);
	background-image: -o-linear-gradient(0deg, rgba(255,0,0,.1) 12.5%, rgba(255,0,0,.15) 12.5%, rgba(255,0,0,.15) 25%, rgba(255,0,0,.1) 25%, rgba(255,0,0,.1) 37.5%, rgba(255,0,0,.15) 37.5%, rgba(255,0,0,.15) 50%, transparent 50%, transparent);
	background-image: linear-gradient(0deg, rgba(255,0,0,.1) 12.5%, rgba(255,0,0,.15) 12.5%, rgba(255,0,0,.15) 25%, rgba(255,0,0,.1) 25%, rgba(255,0,0,.1) 37.5%, rgba(255,0,0,.15) 37.5%, rgba(255,0,0,.15) 50%, transparent 50%, transparent);
    background-size: 32px 16px;
}


.onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .oneofsix, .twoofsix, .threeofsix, .fourofsix, fiveofsix, sixofsix, .oneoften, .twooften, .threeoften, .fouroften, .fiveoften, .sixoften, .sevenoften, .eightoften, .nineoften, .tenoften {
	margin-right: 16px;
	float: left;
	min-height: 1px;
}
.oneofsix { width: 144px; }
.twoofsix { width: 304px; }
.threeofsix { width: 464px; }
.fourofsix { width: 624px; }
.fiveofsix { width: 784px; }
.sixofsix { width: 944px; }
.oneoften { width: 80px; }
.twooften { width: 176px; }
.threeoften { width: 272px; }
.fouroften { width: 368px; }
.fiveoften { width: 464px; }
.sixoften { width: 560px; }
.sevenoften { width: 656px; }
.eightoften { width: 752px; }
.nineoften { width: 848px; }
.tenoften { width: 944px; }
.onecol { width: 144px; }
.twocol { width: 304px; }
.threecol { width: 464px; }
.fourcol { width: 624px; }
.fivecol { width: 784px; }
.sixcol { width: 944px; }
.onecol p:last-child, .twocol p:last-child, .threecol p:last-child, .fourcol p:last-child, .fivecol p:last-child, .sixcol p:last-child { margin: 0px; }
.leftcol {
	float: left;
	margin-right: 16px;
}
.rightcol {
	float: right;
	margin-left: 16px;
	margin-right: 0px;
}
.lastcol { margin-right: 0px; }
.nogaps { margin-right: 0px; }
.nogaps .onecol { width: 160px; }
.nogaps .twocol { width: 320px; }
.nogaps .threecol { width: 480px; }
.nogaps .fourcol { width: 640px; }
.nogaps .fivecol { width: 800px; }
.nogaps .sixcol { width: 960px; }
.breadcrumb { margin: 0px; padding: 0px 0px 4px 0px; }
.spacer { height: 16px; }
.padder { margin: 16px; }
.paddercompact { margin: 8px; }
.padded { padding: 16px; }
.padded-vertical { padding-top: 16px; padding-bottom: 16px; }

img.full { width: 100%; }
img.image-right { float: right; margin-left: 16px; margin-bottom: 16px; }
img.image-left { float: left; margin-right: 16px; margin-bottom: 16px; }

.row {
	max-width: 976px;
	min-width: 755px;
	margin: 0 auto;
	margin-bottom: 16px;
	padding-left: 16px;
	padding-right: 16px;
}
/* Fixes for rows containing floated content */
.row:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
* html .row { zoom: 1; } /* IE6 */
*:first-child+html .row { zoom: 1; } /* IE7 */
.rowfirst { margin-top: 16px; }
.rowlast { margin-bottom: 0px; }
.rowfull { padding: 0px; }

#main {
	overflow: hidden;
	background-color: white;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	width: 976px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
	-webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
	margin: 0px 0px 16px 0px;
}
*:first-child+html {
	border-left: 1px solid #999;
	border-right: 1px solid #999;
}
* html {
	border-left: 1px solid #999;
	border-right: 1px solid #999;
}

#footer {
	width: 100%;
	color: #606060;
	font-size: 90%;
	min-height: 40px;
	text-align: center;
	margin-top: 32px;
	margin-bottom: 16px;
}
#footer ul {
  text-align: center;
}

#footer ul li {
  display: inline;
  padding: 0 5px;
}

#footer ul {
  margin-top: 4px;
}
ul.block {
	display: inline;
}
ul.block li {
	display: inline-block;
}
ul.block, .content ul.quicklinks {
	list-style:none;
	list-style-position: outside;
	padding:0;
	margin: 0px;
}
.content ul {
	margin: 0px 0 0 0px;
}

.content li {
	margin-bottom: 8px;
}

ul.quicklinks li:before {
    content: "» ";
    content: "\0BB \020"; /* For Opera */
}
.observations-front li {
	margin: 0px 0px 0px 0px;
	padding: 0px;
}
.observations-front li .thumb img {
	width: 48px;
	height: 48px;
	margin: 0px;
}
.observations-front li.endofline .thumb img {
	margin-right: 0px;
}

ul#main-menu {
	display:block;
	text-align:center;
	height: 2em;
	line-height: 1em;
}
ul#main-menu li {
	margin-right: 0px;
	padding: 0px;
	height: 2em;
}
ul#main-menu li a {
	display: block;
	text-decoration: none;
	padding: 0.5em 0 0.5em 0px;
	line-height: 1em;
}

ul#main-menu form {
	margin: 0px;
	padding: 0px;
	text-align: left;
}
ul#main-menu input.search {
	display: inline;
	width: 270px;
	height: 24px;
	padding: 0px 6px 0px 6px;
	margin: 4px 0px 4px 8px;
	border: 0px;
	background-color: #e6e6e6;
	color: #404040;
	-webkit-border-top-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	border-top-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-left-radius: 4px;
}
body.admin-menu #main ul.menu input.search {
	display: inline;
	width: 250px;
}
#main ul.menu input:focus {
	background-color: white;
	color: black;
}
#main ul.menu input.btn, #main ul.menu input.form-submit {
	border: 0px;
	position: absolute;
	display: inline;
	width: 30px;
	height: 24px;
	padding: 0px;
	margin: 4px 4px 4px 0px;
	-webkit-border-top-right-radius: 8px;
	-moz-border-radius-topright: 8px;
	border-top-right-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	-moz-border-radius-bottomright: 8px;
	border-bottom-right-radius: 8px;
	background-color: #e6e6e6;
	background-image: url("http://lcogt.net/static/img/zoom_icon&16.png");
 	background-position:center center;
	background-repeat: no-repeat;
	cursor: pointer;
}

#navbar {
	padding: 90px 200px 0 0;
	display:block;
}
#navbar ul {
	margin: 0;
	padding: 0;
	float:right;
}
/* A simple method to get navbar links to appear in one line. */
#navbar li {
	padding: 0 1em;
}

#navbar.primary a {
	color: #606060;
	text-decoration: none;
}

#navbar.primary a:hover {
	color: #f63;
	text-decoration: underline;
}

#navbar.primary ul li a.active {
	color: #999;
}
ul.links {
	text-align:center;
	margin: 0;
	padding: 0;
}
ul.links.inline {
	display: inline;
}

ul.links li {
	display: inline;
	list-style-type: none;
	padding: 0 0.5em;
}

.resourcelist { padding-top: 16px; }
.resourcelist dt { padding: 0 0 0 64px; }
.resourcelist dd{
    min-height: 52px;
    margin:0 0 10px 0;
    padding-left: 64px;
}
/*
dd.observations{ background: url('/sites/default/themes/lcogt/images/observations.png') no-repeat left center; }
dd.vsky{ background: url('/sites/default/themes/lcogt/images/vsky.png') no-repeat left center; }
dd.activities{ background: url('/sites/default/themes/lcogt/images/activities.png') no-repeat left center; }
dd.forum{ background: url('/sites/default/themes/lcogt/images/forum.png') no-repeat left center; }
*/



/* Fancy buttons */
.fancybtn,.fancybtn-gray {
	color: white;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	margin-top: 0px;
	padding: 0.6em 0.6em 0.6em 0.6em;
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 0.75em;
	-moz-border-radius: 0.75em;
	-webkit-border-radius: 0.75em;
	box-shadow: 1px 1px 4px rgba(0,0,0,0.2);
	-moz-box-shadow: 1px 1px 4px rgba(0,0,0,0.2);
	-webkit-box-shadow: 1px 1px 4px rgba(0,0,0,0.2);
}
.fancybtn {
	/*** Adding CSS3 Gradients ***/
	background: #1A6C10;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#259718), to(#1A6C10));
	background: -moz-linear-gradient(19% 75% 90deg,#1A6C10, #259718);
	background: -o-linear-gradient(19% 75% 90deg,#1A6C10, #259718);
	background: linear-gradient(19% 75% 90deg,#1A6C10, #259718);
}
.fancybtn a, .fancybtn-gray a { text-decoration: none; }
.fancybtn:hover,.fancybtn-gray:hover {
	cursor: pointer!important;
	background: #259718;
	text-shadow: 0px 0px 0px rgba(0,0,0,0.5);
}
.fancybtn:active,.fancybtn-active {
	box-shadow: inset 0 2px 2px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0 2px 2px rgba(0,0,0,0.5);
	-webkit-box-shadow: inset 0 2px 2px rgba(0,0,0,0.5);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1A6C10), to(#259718));
	background: -moz-linear-gradient(19% 75% 90deg,#259718,#1A6C10);
}
.fancybtn-gray {
	cursor: pointer!important;
	color: black!important;
	background: #dddddd;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fefefe), to(#dddddd));
	background: -moz-linear-gradient(19% 75% 90deg,#dddddd, #fefefe);
}
.fancybtn-gray:hover {
	background: #bbbbbb;
}
.fancybtn-gray:active, .fancybtn-gray-active {
	box-shadow: inset 0 -2px 2px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0 2px 2px rgba(0,0,0,0.5);
	-webkit-box-shadow: inset 0 2px 2px rgba(0,0,0,0.5);
	background: #bbbbbb;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ededed), to(#bbbbbb))!important;
	background: -moz-linear-gradient(19% 75% 90deg,#bbbbbb, #ededed)!important;
}
.fancybtn a { color: #e6e6e6; }
.fancybtn-gray a { color: #404040; }
.fancybtn-gray img {
	float: left;
	margin-right: 0.5em;
	margin-top:3px;
}

.fancybtn .arrow, .fancybtn-gray .arrow {
	padding-right: 24px;
	text-align: left;
/*	background-image: url("/sites/default/themes/lcogt/images/playback_play_icon&24_w.png");*/
 	background-position: right center;
	background-repeat: no-repeat;
}
.fancybtn-gray .arrow {
/*	background-image: url("/sites/default/themes/lcogt/images/playback_play_icon&24.png");*/
}

/* Flat blue button */
.flatbtnblue {
	color: #fff!important;
	text-align: center;
	text-decoration: none!important;
	height: inherit;
	line-height: inherit;
	border: 1px solid rgba(0,0,0,0.2);
	/* Internet Explorer */*background: #3366DD;
	background: #3366DD;
	box-shadow: -1px 1px 4px rgba(0,0,0,0.2);
	-moz-box-shadow: -1px 1px 4px rgba(0,0,0,0.2);
	-webkit-box-shadow: -1px 1px 4px rgba(0,0,0,0.2);
	font: inherit;
	-webkit-appearance: none;
	display: inline-block;
	padding: 7px 16px;
	vertical-align: middle;
	font-size: 1em;
	min-width: 1em;
	text-decoration: none;
}
.flatbtnblue:hover, .flatbtnblue:active, .flatbtnblue:focus {
	text-decoration: none;
	cursor: pointer!important;
	background: #3366AA;
	color:#FFFFFF;
	border: 1px solid rgba(0,0,0,0.2);
	text-shadow: 0px 0px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 1px 4px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 1px 4px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0px 1px 4px rgba(0,0,0,0.1);
}

.onecol .fancybtn, .onecol .fancybtn-gray {
	display: block;
}

.panel-pane {
	clear: both;
}



/* Style Lists */
ul.polaroids { padding: 0px; margin: 0 0 0; clear: both; width: 100%; }
ul.polaroids li {
	display: inline;
	text-align: center;
	-moz-transition:-moz-transform .15s linear;
	-o-transition:-o-transform .15s linear;
	-webkit-transition:-webkit-transform .15s linear;
}
ul.polaroids li.polaroid, .polaroid {
	border: 0px;
	background: #fff;
	display: inline-block;
	padding: 0px;
	text-align: center;
	font-family: Arial,sans-serif;
	text-decoration: none;
	color: #333;
	-webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
	-moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
	box-shadow: 0 3px 6px rgba(0,0,0,.25);
	overflow: hidden;
}
ul.polaroids li.polaroid {
	font-size: 0.8em;
	width: 144px;
	height: 192px;
	margin: 0 8px 16px 0px;
	-webkit-transition: -webkit-transform .15s linear;
}
ul.polaroids img {
	display: block;
	margin-bottom: 4px;
	margin-top: 10px;
	border: 0px;
	margin-left: auto;
	margin-right: auto;
	width: 124px;
	height: 124px;
}
ul.polaroids li:nth-child(4n) { margin-right: 0px; }
/*ul.polaroids li:nth-child(8n) { position: relative; right: 5px; top: 8px; }
ul.polaroids li:nth-child(11n) { position: relative; left: -5px; top: 3px; }
*/
ul.polaroids li:hover { -webkit-transform: scale(1.25); -moz-transform: scale(1.25); -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.5); -moz-box-shadow: 0 3px 6px rgba(0,0,0,.5); position: relative; z-index: 5; }
.polaroid p {
	margin:auto;
	position: relative;
	z-index: 3;
	text-align:center;
}
.staff-list .username { display: none; }
.staff-list .views-field { margin: 0px 10px; }
.staff-list .user-picture { margin-top:10px; }
.staff-list .user-picture img { width: 124px; height: 124px;}

.yellow-highlight { color: #840;background-color: #ffffcc;border: 1px solid #c3c39e; padding:4px; margin:8px 0 8px 0;}

li.node-readmore {
/*	background: url('/sites/default/themes/lcogt/images/bullet.jpg') no-repeat;*/
	padding-left: 1em!important;
}
ul.list-papers li.paper-item, .view-display-id-bk_papers .views-row, .publication-item {
	background: url('http://lcogt.net/static/img/doc_lines_icon&16.png') no-repeat;
	background-position:0px 0px;
	padding-left: 24px!important;
	margin-bottom: 8px!important;
	min-height: 16px;
}

.success { background-color: #DDEBDF!important; border: 1px solid #339933!important; }
.error { background-color: #FFD3D2!important; border: 1px solid #C00000!important; }
.warning { background-color: #FFFFCC!important; border: 1px solid #C3C39E!important; }

.fourcol iframe { max-width: 624px; }

/* Define "features" */
ul.features {
	margin: 0px;
	padding: 0px;
	list-style: none;
	font-size: 0.9em;
}
body.front .rowlast .pane-2,body.front .rowlast .pane-3 { display: none; }
body.front ul.features {
}
body.front .view-features-list {
	overflow:hidden;
	width:960px;
	padding-left: 16px;
	position: relative;
	height: 113px;
	overflow: hidden;
}
body.front ul.features {
	margin: 16px 0px 16px 0px;
}
ul.features li {
	margin: 0px;
	padding: 0px;
	width: 304px;
	margin-right: 16px;
	float: left;
	min-height: 1px;
	height: 81px;
	overflow: hidden;
}
.row ul.features li:nth-child(3n) {
	margin-right: 0px;
}
.twocol ul.features li {
	margin-right: 0px;
	margin-bottom: 16px;
}
.twocol ul.features li:last-child {
	margin-bottom:0px;
}
ul.features li h3 {
	margin-top: 0px;
}
ul.features li img {
	float: left;
	margin-right: 8px;
	width: 144px;
	height: 81px;
}
.blog-post-date {
	font-weight: bold;
}
ul.bios {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
ul.bios li {
	border: 1px solid rgba(0,0,0,.25);
	padding:16px;
	min-height:64px;
	-webkit-box-shadow: 1px 1px 4px rgba(0,0,0,.15);
	-moz-box-shadow: 1px 1px 4px rgba(0,0,0,.15);
	box-shadow: 1px 1px 4px rgba(0,0,0,.15);
}
ul.bios li .user-picture {
	float:left;
	margin-right: 8px;
}
ul.bios li .user-picture img {
	width: 64px;
	height: 64px;
}
ul.bios li .views-label-field-fullname {
	float:left;
	margin-right:4px;
}

ul.pager {
	list-style: none;
}

ul.pager li.previous {
	float:left;
}
ul.pager li.next {
	float:right;
}

.pager {
	display:block;
	height: 16px;
	text-align: center;
	margin-bottom: 8px;
}
.pager .older { float: right; }
.pager a {
	margin-left: 2px;
	margin-right: 2px;
	padding: 4px 0.5em 4px 0.5em;
}
.pager a.current {
	font-weight: bold;
	background-color: #3366DD;
	color:white;
	border-radius:4px;
}

/* Big Button pages */

body.banner #main { border-bottom: 4px solid #999999; }

.home_banner_region{
	background-image: url('images/science_bg_ngc2359.jpg');
	height:500px;
	border-bottom: 4px solid #999999;
	display:block;
}

.science_banner_region{
	background-image: url('images/public_bg_ngc7331.jpg');
	height:500px;
	border-bottom: 4px solid #999999;
	display:block;
	text-align: center;
}

.public_banner_region{
	background-image: url('images/home_bg_M42.jpg');
	height:500px;
	border-bottom: 4px solid #999999;
	display:block;
	text-align: center;
}

/* Big, horizontal decision buttons */

.home_banner_region ul.lg_grey_buttons
{
	text-align:center;
	list-style: none;
	position: relative;
	top:40%;
    margin: 0px;
}


.home_banner_region ul.lg_grey_buttons li
{
	display: block;
	float: left;
	width:35%;
	padding:10px;
	height: 3em;
	font-size: 3em;
}


ul.lg_grey_buttons li.lg_public {
    background-image: url('images/silhouette-1-meter_sm.png');
    background-repeat: no-repeat;
    padding-right: 110px;
    background-position: 95% center;
    text-align: right;
}

ul.lg_grey_buttons li.lg_astronomers {
    background-image: url('images/silhouette-2-meter_sm.png');
    background-repeat: no-repeat;
    background-position: 8px center;
    padding-left: 110px;
    text-align: left;
    margin-left: 32px;
}

.home_banner_region>ul.lg_grey_buttons li a,
.science_banner_region>ul.lg_grey_buttons li a,
.public_banner_region>ul.lg_grey_buttons li a { width: auto; }


/* Big verticle decision buttons */
.science_banner_region ul.lg_grey_buttons,
.public_banner_region ul.lg_grey_buttons {
	display: inline-block;
	list-style-type: none;
	position: relative;
	top:15%;
	padding-left: 0;
}

.science_banner_region ul.lg_grey_buttons li,
.public_banner_region ul.lg_grey_buttons li {
    font-size: 2em;
	line-height: 1.2em;
	display: block;
	margin-bottom: 16px;
    background-image: url('images/silhouette-2-meter_tny.png');
    background-repeat: no-repeat;
    background-position: 16px center;
    padding-left: 50px;
    text-align: left;
    margin-left:8px;
}

ul.lg_grey_buttons li{
	color:#ffffff;
	background:#000000;
	opacity: 0.6;
	filter: alpha(opacity=60); 
}

ul.lg_grey_buttons li:hover
{
    opacity: 0.75;
    color:#777;
    filter: alpha(opacity=75); 
}

ul.lg_grey_buttons li a
{
	display: block;
	width: 100%;
	padding: 1em;
	color: #FFF;
	text-decoration: none;
	margin-left:8px;
}
.seminar-banner h1.title{color:#fff;font-size: 1.6em;}
.seminar-banner{
	position:relative;
	top:-16px;
	background: url('http://lcogt.net/files/media/seminar_series.jpg') repeat scroll center center / 976px auto transparent; text-shadow: 0px 0px 10px black;
    border-bottom: 4px solid #cccccc;
    clear: both;
    font-size: 1.6em;
    padding: 0.5em;
}

#seminar-home {
    line-height: 3em;
    text-align: center;
}

.pagination {
	border-top:1px dashed #404040;
	padding-top:8px;
}

ul.pagination {
	list-style: outside none none;
	margin: 0;
	padding-left: 0;
	text-align: center;
}

ul.pagination li { display: inline; }


/* Publications */
.largenumber {
    color: #404040;
    font-family: Century Gothic,sans-serif;
    font-weight: bold;
    margin-top: 0;
    font-size: 2em;
    text-align: center;
}
.description{
	text-align: center;
}

ul.list-papers {
	list-style:none;
	padding-left: 0px;
}
ul.list-papers li{
    margin-bottom: 8px !important;
    min-height: 16px;
}

.paper-authors,
.description{
	color:#999;
	font-size: 90%;
}

.paper-status{
	padding:0px 0px 6px 0px;
}

.lcogt-author {
	color:#555;
}

.metrics_section{
	width:100%;
	border-bottom: 1px #555 solid;
}
.navlist{
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

.navlist li{
    margin: 0;
    padding-left: 10px;
    display: inline-block;
}


/* Styles for the HotWired conference */

.displayed {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 600px;
	height: 176px;
}

a.disabled {
   pointer-events: none;
   cursor: default;
}

.ourfont {
	font-family: Helvetica, "Bitstream Vera Sans", Arial, sans-serif;
}

.rightnav {
	width: 100%;
	border-style: solid solid none solid;
	border-color: gray;
	border-size: 1px;
	border-width: 1px;
}

.rightnav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.rightnav ul li {
	border-bottom: 2px solid gray;
}

.rightnav li a {
	font-size: 14px;
	font-weight: bold;
	display: block;
	background: transparent url(http://lcogt.net/files/arrowgray.gif) 100% 0;
	color: black;
	height: 24px; /*Set to height of bg image- padding within link (ie: 32px - 4px - 4px)*/
	padding: 4px 0 4px 10px;
	line-height: 24px; /*Set line-height of bg image- padding within link (ie: 32px - 4px - 4px)*/
	text-decoration: none;
}

.rightnav li a:link, .arrowgreen li a:visited {
}

.rightnav li a:hover {
	text-shadow: 0.1em 0.1em #fff;
	background-position: 100% -64px;
}

.rightnav li a.selected {
	/*color: white;*/
	text-shadow: 0.1em 0.1em #fff;
	background-position: 100% 0px;
	background-image: none;
	background-color: darkgray;
}

.smallwords {
	font-size: 14px;
	margin-right: 10px;
}

#conference table, #conference table th, #conference table td {
	border: none !important;
}

#conference table td {
	margin-bottom: 10px;
}

#conference .field-item {
    width: 100%;
}

ul.buttonlisthoriz {
margin: 0;
padding: 0;
list-style-type: none;
text-align: center;
}
ul.buttonlisthoriz li {
display: inline;
}

.btn {
  display: block;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
  text-decoration: none;
	color: #fff;
}

.btn-transparent,
.btn-transparent:visited {
  background-color: transparent;
  border-color: #fff;
  border-width: 2px;
}

.btn-blue,
.btn-blue:visited {
  background-color: #3366dd;
  color: #fff;
  border-width: 2px;
}

.btn-blue:hover {
  background: rgba(0, 0, 0, .5);
  text-decoration: none;
  color:#fff;
}

.btn-jumbo {
  padding: 13px 20px;
  font-size: 22px;
  line-height: 1.33;
  border-radius: 6px;
}

/* responsive design parts */

@media (max-width: 1024px), (max-device-width: 1024px) { 
	#logo img { max-width:100%!important; }
	#logo2 { margin-right: 1%; max-width: 30%; }
	#logo2 img { max-width: 100%!important; }
	.narrow { display: inline-block!important; }
	#screen { width: 100%; }
	#header { width:98%!important; margin-left:1%; display: block!important; }
	#main {
		max-width: 98%;
		margin-left:1%;
		display: block!important;
	}
	ul.primary {
		white-space: none!important;
		border: 0px;
		height: auto!important;
	}
	ul.primary li { }
	ul#main-menu { width: 100%; }
	ul#main-menu li.onecol { width: 16.7%; }
	ul#main-menu li.twocol { max-width: 33.2%; }
	ul#main-menu input.search { max-width: 75%!important; margin-left: 4px; }
	.row { min-width: 0px; }
	.twocol, .threecol, .fourcol, .fivecol, .sixcol {
		width: 100%;
		display: block;
	}
	.row table, .row img, .fourcol img, .row iframe, .fourcol iframe, .row object, .fourcol object { max-width: 100%!important; }
	#slidecycle { max-width: 100%!important; overflow: hidden; }
	body.front .view-features-list { max-width: 100%; width: 98%; }
	.lastcol { margin-right: 16px; }
	ul.polaroids li { margin-right: 16px!important; }

	/* Big, horizontal decision buttons */

	ul.lg_grey_buttons li.lg_public {
		padding-right: 0px
	}

	.home_banner_region,
	.science_banner_region,
	.public_banner_region{
	height:100%;
	text-align: center;
	}

	.home_banner_region>ul.lg_grey_buttons li a,
	.science_banner_region>ul.lg_grey_buttons li a,
	.public_banner_region>ul.lg_grey_buttons li a { width: auto; }


	/* Big verticle decision buttons */
	.home_banner_region ul.lg_grey_buttons,
	.science_banner_region ul.lg_grey_buttons,
	.public_banner_region ul.lg_grey_buttons {
		display: inline-block;
		list-style-type: none;
		position: relative;
		top:15%;
		padding-left: 0;
	}

	.home_banner_region ul.lg_grey_buttons li,
	.science_banner_region ul.lg_grey_buttons li,
	.public_banner_region ul.lg_grey_buttons li {
	    font-size: 2em;
		line-height: 2.1em;
		display: block;
		margin-bottom: 16px;
	    background-image: url('images/silhouette-2-meter_tny.png');
	    background-repeat: no-repeat;
	    background-position: 16px center;
	    padding-left: 50px;
	    text-align: left;
	    margin-left:8px;
	    width:100%;
	    float:none;
	}
}
@media (max-width: 630px), (max-device-width: 630px) {
	#site-name { display: none; }
	#main {
		width: 100%!important;
		max-width: 100%;
		margin:0%;
		display: block!important;
	}
	ul#main-menu input { height: 2em; }
	#main ul.menu input.form-submit { max-width: 30px; width: 5%; }
	ul#main-menu input.search { width: 70%; max-width: 88%; margin-left:4px; }
	.row { min-width: 0px; }
	.twocol, .threecol, .fourcol, .fivecol, .sixcol { width: 100%; display: block; }
	#slidecycle { max-width: 100%!important; overflow: hidden; }
	.media-image { width: 100%!important; height: auto;}
	img.image-right { margin-left: 0px; display: block; }
	img.image-left { margin-right: 0px; display: block; }
	.row iframe { width: 100%!important; display: block; margin-bottom: 16px; }
	.fourcol img,.fivecol img,.sixcol img { max-width: 100%!important; height: auto!important; display: block; margin-bottom: 16px; }
	ul.bios li { 
		border: 0px;
		box-shadow: 0px 0px 0px;
		-moz-box-shadow: 0px 0px 0px;
		-webkit-box-shadow: 0px 0px 0px;
	}
	.twocol ul.features li { width: 100%; }
	#observations img { margin-right: 1px!important; margin-bottom: 1px!important; }
}
@media (max-width: 480px), (max-device-width: 480px) {
	ul#main-menu form { text-align: center;}
	ul#main-menu li.onecol { width: 50%; max-width: 100%;}
	ul#main-menu li.search { background: transparent; width: 100%!important; max-width: 100%; }
	ul#main-menu input.search { width: 70%; max-width: 88%; margin-left:4px; float: none; }
	ul#main-menu { border-bottom: 0px!important; }
	#logo { width: 100%; text-align: center; float: none; display:block; }
	#logo img { height: 60px; }
	#header { height: 87px }

	/* Big, horizontal decision buttons */

	.home_banner_region,
	.science_banner_region,
	.public_banner_region{
	height:100%;
	}

	.home_banner_region>ul.lg_grey_buttons li a,
	.science_banner_region>ul.lg_grey_buttons li a,
	.public_banner_region>ul.lg_grey_buttons li a { width: auto; }


	/* Big verticle decision buttons */
	.home_banner_region ul.lg_grey_buttons,
	.science_banner_region ul.lg_grey_buttons,
	.public_banner_region ul.lg_grey_buttons {
		display: inline-block;
		list-style-type: none;
		position: relative;
		top:15%;
		padding-left: 0;
	}

	.home_banner_region ul.lg_grey_buttons li,
	.science_banner_region ul.lg_grey_buttons li,
	.public_banner_region ul.lg_grey_buttons li {
	    font-size: 1.4em;
		line-height: 1.2em;
		display: block;
		margin-bottom: 16px;
	    background-image: url('images/silhouette-2-meter_tny.png');
	    background-repeat: no-repeat;
	    background-position: 16px center;
	    padding-left: 50px;
	    text-align: left;
	    margin-left:8px;
	    width:100%;
	    float:none;
	}

@media handheld {
	#footer img { width: 24px; }	
}
