/*
	LCOGT Master Website CSS
	Created 15 September 2011
	Last updated 18 May 2015
 */

body {
    overflow-x: hidden;
  	font-family: Helvetica, "Bitstream Vera Sans", Arial, sans-serif;
    font-size:16px;
    }

.text-muted {
    color: #777;
}

.text-primary {
    color: #3366dd;
}

pre, code { font-family: "Bitstream Vera Sans Mono", "Courier New", monospace; font-size: 1em; }
h1, h2, h3, h4, h5, h6 { margin-top:0px; font-family: Century Gothic, sans-serif; color: #404040; font-weight: bold; }
h2 { font-size: 1.4em; margin-bottom: 0.4em; }
h3 { font-size: 1.2em; margin-top: 0.5em; margin-bottom: 0.3em; }
h4 { font-size: 1.1em; margin-top: 0.45em; margin-bottom: 0.45em; }

p, ul, ol, dl, pre, table, fieldset { margin: 4px 0 12px 0; }
ul, ol { margin: 0px 0 8px 0; padding-left: 1.2em; }
.block ul, .item-list ul { margin: 1em 0; padding: 0 0 0 2em; }
ul ul, ul ol, ul ol, ol ul, .block ul ul, .block ul ol, .block ol ol, .block ol ul, .item-list ul ul, .item-list ul ol, .item-list ol ol, .item-list ol ul { margin: 0; }
ul.menu li, li.expanded, li.collapsed, li.leaf, li { margin: 0; padding: 0; }
.item-list ul li { list-style: inherit; margin: 0; padding: 0; }
ul { list-style-type: disc; }
ul ul { list-style-type: circle; }
ul ul ul { list-style-type: square; }
ul ul ul ul { list-style-type: circle; }
ol { list-style-type: decimal; }
ol ol { list-style-type: lower-alpha; }
ol ol ol { list-style-type: decimal; }
ul.newslist, ul.list-papers {list-style: outside none none; margin: 0;padding-left: 0;}
ul.newslist li {margin-bottom:4px;}
ul.list-papers li {margin-bottom:10px;}
.paper-title {font-size: 110%}
.paper-citation {color:#aaa;}
li .blog-date, li .blog-title-sm, li .seminar-date, li .seminar-title { display: table-cell;}
li .blog-date {width:60px;}
li .seminar-date {width:100px;}

a { color: #3366DD; text-decoration: none; }
a:visited { color: #3366DD; }
a:hover, a:focus { color: #f46262; text-decoration: underline; }
a:active { color: #a2c0dd; text-decoration: underline; }

abbr { border-bottom: 1px dotted #606060; cursor: help; white-space: nowrap; }
abbr.created { border: none; cursor: auto; white-space: normal; }
img { border: 0; }
hr { border: 0; height: 1px; }
hr.fancy { border: 0; height: 1px; background: #333; background-image: linear-gradient(to right, #ccc, #333, #ccc); }
form { margin: 0; padding: 0; }
fieldset { margin: 1em 0; }

/* Fix for <sub> and <sup> to stop them affecting line spacings */
sup, sub { font-size:0.7em; height: 0; line-height: 1; vertical-align: baseline; _vertical-align: bottom; position: relative; }
sup { bottom: 1ex; }
sub { top: .5ex; }

/* Colours */
.red, .red a { color: rgb(223, 0, 0); }
.blue, .blue a { color: rgb(0, 0, 255); }
.yellow, .yellow a { color: rgb(251, 201, 0); }
.green, .green a { color: rgb(0, 157, 0); }
.gray, .gray a { color: rgb(204, 204, 204); }
.redbg a, .bluebg a, .greenbg a { color: white; }
.yellowbg a, .graybg a { color: black; }
.redbg { background-color: rgb(223, 0, 0)!important; }
.bluebg { background-color: rgb(0, 0, 255)!important; }
.yellowbg { background-color: rgb(251, 201, 0)!important; }
.greenbg { background-color: rgb(0, 157, 0)!important; }
.graybg { background-color: rgb(204, 204, 204)!important; }
.darkgraybg { background-color: rgb(128, 128, 128)!important; }

.blue-1-grad { -o-background-size: 100% 100%;-moz-background-size: 100% 100%;-webkit-background-size: 100% 100%;background-size: 100% 100%;/* Internet Explorer */*background: #1a2642;background: #1a2642\0/;filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr=#FF000000, endColorstr=#FF1a2642);/* Recent browsers */background-image: -webkit-gradient(linear,left top, left bottom,from(#000000),to(#1a2642));background-image: -webkit-linear-gradient(top,#000000,#1a2642);background-image: -moz-linear-gradient(top,#000000,#1a2642);background-image: -o-linear-gradient(top,#000000,#1a2642);background-image: linear-gradient(top,#000000,#1a2642);color: white; }
.blue-1-grad a { color: white }
.blue-1-bg, .blue-1-bg a { background-color: #1a2642; color: white; }
.blue-1, .blue-1 a { color: #1a2642; }
.blue-2-grad { -o-background-size: 100% 100%;-moz-background-size: 100% 100%;-webkit-background-size: 100% 100%;background-size: 100% 100%;/* Internet Explorer */*background: #263c6f;background: #263c6f\0/;filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr=#FF1a2642, endColorstr=#FF263c6f);/* Recent browsers */background-image: -webkit-gradient(linear,left top, left bottom,from(#1a2642),to(#263c6f));background-image: -webkit-linear-gradient(top,#1a2642,#263c6f);background-image: -moz-linear-gradient(top,#1a2642,#263c6f);background-image: -o-linear-gradient(top,#1a2642,#263c6f);background-image: linear-gradient(top,#1a2642,#263c6f);color: white; }
.blue-2-grad a { color: white }
.blue-2-bg, .blue-2-bg a { background-color: #263c6f; color: white; }
.blue-2, .blue-2 a { color: #263c6f; }
.blue-3-grad, .fancybtn-blue { -o-background-size: 100% 100%;-moz-background-size: 100% 100%;-webkit-background-size: 100% 100%;background-size: 100% 100%;/* Internet Explorer */*background: #3366dd;background: #3366dd\0/;filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr=#FF263c6f, endColorstr=#FF3366dd);/* Recent browsers */background-image: -webkit-gradient(linear,left top, left bottom,from(#263c6f),to(#3366dd));background-image: -webkit-linear-gradient(top,#263c6f,#3366dd);background-image: -moz-linear-gradient(top,#263c6f,#3366dd);background-image: -o-linear-gradient(top,#263c6f,#3366dd);background-image: linear-gradient(top,#263c6f,#3366dd);color: white; }
.blue-3-grad a { color: white }
.blue-3-bg, .blue-3-bg a { background-color: #3366dd; color: white; }
.blue-3, .blue-3 a { color: #3366dd; }
.blue-4-grad { -o-background-size: 100% 100%;-moz-background-size: 100% 100%;-webkit-background-size: 100% 100%;background-size: 100% 100%;/* Internet Explorer */*background: #9ab5f4;background: #9ab5f4\0/;filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr=#FF3366dd, endColorstr=#FF9ab5f4);/* Recent browsers */background-image: -webkit-gradient(linear,left top, left bottom,from(#3366dd),to(#9ab5f4));background-image: -webkit-linear-gradient(top,#3366dd,#9ab5f4);background-image: -moz-linear-gradient(top,#3366dd,#9ab5f4);background-image: -o-linear-gradient(top,#3366dd,#9ab5f4);background-image: linear-gradient(top,#3366dd,#9ab5f4);color: black; }
.blue-4-grad a { color: black }
.blue-4-bg, .blue-4-bg a { background-color: #9ab5f4; color: black; }
.blue-4, .blue-4 a { color: #9ab5f4; }
.green-1-grad { -o-background-size: 100% 100%;-moz-background-size: 100% 100%;-webkit-background-size: 100% 100%;background-size: 100% 100%;/* Internet Explorer */*background: #002f00;background: #002f00;filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr=#FF000000, endColorstr=#FF002f00);/* Recent browsers */background-image: -webkit-gradient(linear,left top, left bottom,from(#000000),to(#002f00));background-image: -webkit-linear-gradient(top,#000000,#002f00);background-image: -moz-linear-gradient(top,#000000,#002f00);background-image: -o-linear-gradient(top,#000000,#002f00);background-image: linear-gradient(top,#000000,#002f00);color: white; }
.green-1-grad a { color: white }
.green-1-bg, .green-1-bg a { background-color: #002f00; color: white; }
.green-1, .green-1 a { color: #002f00; }
.green-2-grad { -o-background-size: 100% 100%;-moz-background-size: 100% 100%;-webkit-background-size: 100% 100%;background-size: 100% 100%;/* Internet Explorer */*background: #004f00;background: #004f00;filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr=#FF002f00, endColorstr=#FF004f00);/* Recent browsers */background-image: -webkit-gradient(linear,left top, left bottom,from(#002f00),to(#004f00));background-image: -webkit-linear-gradient(top,#002f00,#004f00);background-image: -moz-linear-gradient(top,#002f00,#004f00);background-image: -o-linear-gradient(top,#002f00,#004f00);background-image: linear-gradient(top,#002f00,#004f00);color: white; }
.green-2-grad a { color: white }
.green-2-bg, .green-2-bg a { background-color: #004f00; color: white; }
.green-2, .green-2 a { color: #004f00; }
.green-3-grad, .fancybtn { -o-background-size: 100% 100%;-moz-background-size: 100% 100%;-webkit-background-size: 100% 100%;background-size: 100% 100%;/* Internet Explorer */*background: #009d00;background: #009d00;filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr=#FF004f00, endColorstr=#FF009d00);/* Recent browsers */background-image: -webkit-gradient(linear,left top, left bottom,from(#004f00),to(#009d00));background-image: -webkit-linear-gradient(top,#004f00,#009d00);background-image: -moz-linear-gradient(top,#004f00,#009d00);background-image: -o-linear-gradient(top,#004f00,#009d00);background-image: linear-gradient(top,#004f00,#009d00);color: white; }
.green-3-grad a { color: white }
.green-3-bg, .green-3-bg a { background-color: #009d00; color: white; }
.green-3, .green-3 a { color: #009d00; }
.green-4-grad { -o-background-size: 100% 100%;-moz-background-size: 100% 100%;-webkit-background-size: 100% 100%;background-size: 100% 100%;/* Internet Explorer */*background: #59de59;background: #59de59;filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr=#FF009d00, endColorstr=#FF59de59);/* Recent browsers */background-image: -webkit-gradient(linear,left top, left bottom,from(#009d00),to(#59de59));background-image: -webkit-linear-gradient(top,#009d00,#59de59);background-image: -moz-linear-gradient(top,#009d00,#59de59);background-image: -o-linear-gradient(top,#009d00,#59de59);background-image: linear-gradient(top,#009d00,#59de59);color: white; }
.green-4-grad a { color: white }
.green-4-bg, .green-4-bg a { background-color: #59de59; color: white; }
.green-4, .green-4 a { color: #59de59; }
.yellow-1-grad { -o-background-size: 100% 100%;-moz-background-size: 100% 100%;-webkit-background-size: 100% 100%;background-size: 100% 100%;/* Internet Explorer */*background: #4b3c00;background: #4b3c00;filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr=#FF000000, endColorstr=#FF4b3c00);/* Recent browsers */background-image: -webkit-gradient(linear,left top, left bottom,from(#000000),to(#4b3c00));background-image: -webkit-linear-gradient(top,#000000,#4b3c00);background-image: -moz-linear-gradient(top,#000000,#4b3c00);background-image: -o-linear-gradient(top,#000000,#4b3c00);background-image: linear-gradient(top,#000000,#4b3c00);color: white; }
.yellow-1-grad a { color: white }
.yellow-1-bg, .yellow-1-bg a { background-color: #4b3c00; color: white; }
.yellow-1, .yellow-1 a { color: #4b3c00; }
.yellow-2-grad { -o-background-size: 100% 100%;-moz-background-size: 100% 100%;-webkit-background-size: 100% 100%;background-size: 100% 100%;/* Internet Explorer */*background: #7d6500;background: #7d6500;filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr=#FF4b3c00, endColorstr=#FF7d6500);/* Recent browsers */background-image: -webkit-gradient(linear,left top, left bottom,from(#4b3c00),to(#7d6500));background-image: -webkit-linear-gradient(top,#4b3c00,#7d6500);background-image: -moz-linear-gradient(top,#4b3c00,#7d6500);background-image: -o-linear-gradient(top,#4b3c00,#7d6500);background-image: linear-gradient(top,#4b3c00,#7d6500);color: white; }
.yellow-2-grad a { color: white }
.yellow-2-bg, .yellow-2-bg a { background-color: #7d6500; color: white; }
.yellow-2, .yellow-2 a { color: #7d6500; }
.yellow-3-grad { -o-background-size: 100% 100%;-moz-background-size: 100% 100%;-webkit-background-size: 100% 100%;background-size: 100% 100%;/* Internet Explorer */*background: #fac900;background: #fac900;filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr=#FF7d6500, endColorstr=#FFfac900);/* Recent browsers */background-image: -webkit-gradient(linear,left top, left bottom,from(#7d6500),to(#fac900));background-image: -webkit-linear-gradient(top,#7d6500,#fac900);background-image: -moz-linear-gradient(top,#7d6500,#fac900);background-image: -o-linear-gradient(top,#7d6500,#fac900);background-image: linear-gradient(top,#7d6500,#fac900);color: black; }
.yellow-3-grad a { color: black }
.yellow-3-bg, .yellow-3-bg a { background-color: #fac900; color: black; }
.yellow-3, .yellow-3 a { color: #fac900; }
.yellow-4-grad { -o-background-size: 100% 100%;-moz-background-size: 100% 100%;-webkit-background-size: 100% 100%;background-size: 100% 100%;/* Internet Explorer */*background: #fde065;background: #fde065;filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr=#FFfac900, endColorstr=#FFfde065);/* Recent browsers */background-image: -webkit-gradient(linear,left top, left bottom,from(#fac900),to(#fde065));background-image: -webkit-linear-gradient(top,#fac900,#fde065);background-image: -moz-linear-gradient(top,#fac900,#fde065);background-image: -o-linear-gradient(top,#fac900,#fde065);background-image: linear-gradient(top,#fac900,#fde065);color: black; }
.yellow-4-grad a { color: black }
.yellow-4-bg, .yellow-4-bg a { background-color: #fde065; color: black; }
.yellow-4, .yellow-4 a { color: #fde065; }
.yellow-5-grad { -o-background-size: 100% 100%;-moz-background-size: 100% 100%;-webkit-background-size: 100% 100%;background-size: 100% 100%;/* Internet Explorer */*background: #fff5cc;background: #fff5cc\0/;filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr=#FFfde065, endColorstr=#FFfff5cc);/* Recent browsers */background-image: -webkit-gradient(linear,left top, left bottom,from(#fde065),to(#fff5cc));background-image: -webkit-linear-gradient(top,#fde065,#fff5cc);background-image: -moz-linear-gradient(top,#fde065,#fff5cc);background-image: -o-linear-gradient(top,#fde065,#fff5cc);background-image: linear-gradient(top,#fde065,#fff5cc);color: black; }
.yellow-5-grad a { color: black }
.yellow-5-bg, .yellow-5-bg a { background-color: #fff5cc; color: black; }
.yellow-5, .yellow-5 a { color: #fff5cc; }
.red-1-grad { -o-background-size: 100% 100%;-moz-background-size: 100% 100%;-webkit-background-size: 100% 100%;background-size: 100% 100%;/* Internet Explorer */*background: #430000;background: #430000;filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr=#FF000000, endColorstr=#FF430000);/* Recent browsers */background-image: -webkit-gradient(linear,left top, left bottom,from(#000000),to(#430000));background-image: -webkit-linear-gradient(top,#000000,#430000);background-image: -moz-linear-gradient(top,#000000,#430000);background-image: -o-linear-gradient(top,#000000,#430000);background-image: linear-gradient(top,#000000,#430000);color: white; }
.red-1-grad a { color: white }
.red-1-bg, .red-1-bg a { background-color: #430000; color: white; }
.red-1, .red-1 a { color: #430000; }
.red-2-grad { -o-background-size: 100% 100%;-moz-background-size: 100% 100%;-webkit-background-size: 100% 100%;background-size: 100% 100%;/* Internet Explorer */*background: #700000;background: #700000;filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr=#FF430000, endColorstr=#FF700000);/* Recent browsers */background-image: -webkit-gradient(linear,left top, left bottom,from(#430000),to(#700000));background-image: -webkit-linear-gradient(top,#430000,#700000);background-image: -moz-linear-gradient(top,#430000,#700000);background-image: -o-linear-gradient(top,#430000,#700000);background-image: linear-gradient(top,#430000,#700000);color: white; }
.red-2-grad a { color: white }
.red-2-bg, .red-2-bg a { background-color: #700000; color: white; }
.red-2, .red-2 a { color: #700000; }
.red-3-grad { -o-background-size: 100% 100%;-moz-background-size: 100% 100%;-webkit-background-size: 100% 100%;background-size: 100% 100%;/* Internet Explorer */*background: #df0000;background: #df0000;filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr=#FF700000, endColorstr=#FFdf0000);/* Recent browsers */background-image: -webkit-gradient(linear,left top, left bottom,from(#700000),to(#df0000));background-image: -webkit-linear-gradient(top,#700000,#df0000);background-image: -moz-linear-gradient(top,#700000,#df0000);background-image: -o-linear-gradient(top,#700000,#df0000);background-image: linear-gradient(top,#700000,#df0000);color: white; }
.red-3-grad a { color: white }
.red-3-bg, .red-3-bg a { background-color: #df0000; color: white; }
.red-3, .red-3 a { color: #df0000; }
.red-4-grad { -o-background-size: 100% 100%;-moz-background-size: 100% 100%;-webkit-background-size: 100% 100%;background-size: 100% 100%;/* Internet Explorer */*background: #f46262;background: #f46262;filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr=#FFdf0000, endColorstr=#FFf46262);/* Recent browsers */background-image: -webkit-gradient(linear,left top, left bottom,from(#df0000),to(#f46262));background-image: -webkit-linear-gradient(top,#df0000,#f46262);background-image: -moz-linear-gradient(top,#df0000,#f46262);background-image: -o-linear-gradient(top,#df0000,#f46262);background-image: linear-gradient(top,#df0000,#f46262);color: white; }
.red-4-grad a { color: white }
.red-4-bg, .red-4-bg a { background-color: #f46262; color: white; }
.red-4, .red-4 a { color: #f46262; }
.gray-1-grad { -o-background-size: 100% 100%;-moz-background-size: 100% 100%;-webkit-background-size: 100% 100%;background-size: 100% 100%;/* Internet Explorer */*background: #404040;background: #404040;filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr=#FF000000, endColorstr=#FF404040);/* Recent browsers */background-image: -webkit-gradient(linear,left top, left bottom,from(#000000),to(#404040));background-image: -webkit-linear-gradient(top,#000000,#404040);background-image: -moz-linear-gradient(top,#000000,#404040);background-image: -o-linear-gradient(top,#000000,#404040);background-image: linear-gradient(top,#000000,#404040);color: white; }
.gray-1-bg { background-color: #404040; color: white; }
.gray-1 { color: #404040; }
.gray-2-grad, #lcogt-bar { -o-background-size: 100% 100%;-moz-background-size: 100% 100%;-webkit-background-size: 100% 100%;background-size: 100% 100%;/* Internet Explorer */*background: #606060;background: #606060;filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr=#FF404040, endColorstr=#FF606060);/* Recent browsers */background-image: -webkit-gradient(linear,left top, left bottom,from(#404040),to(#606060));background-image: -webkit-linear-gradient(top,#404040,#606060);background-image: -moz-linear-gradient(top,#404040,#606060);background-image: -o-linear-gradient(top,#404040,#606060);background-image: linear-gradient(top,#404040,#606060);color: white; }
.gray-2-bg { background-color: #606060; color: white; }
.gray-2 { color: #606060; }
.gray-3-grad { -o-background-size: 100% 100%;-moz-background-size: 100% 100%;-webkit-background-size: 100% 100%;background-size: 100% 100%;/* Internet Explorer */*background: #808080;background: #808080;filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr=#FF606060, endColorstr=#FF808080);/* Recent browsers */background-image: -webkit-gradient(linear,left top, left bottom,from(#606060),to(#808080));background-image: -webkit-linear-gradient(top,#606060,#808080);background-image: -moz-linear-gradient(top,#606060,#808080);background-image: -o-linear-gradient(top,#606060,#808080);background-image: linear-gradient(top,#606060,#808080);color: white; }
.gray-3-bg { background-color: #808080; color: white; }
.gray-3 { color: #808080; }
.gray-4-grad { -o-background-size: 100% 100%;-moz-background-size: 100% 100%;-webkit-background-size: 100% 100%;background-size: 100% 100%;/* Internet Explorer */*background: #999999;background: #999999;filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr=#FF808080, endColorstr=#FF999999);/* Recent browsers */background-image: -webkit-gradient(linear,left top, left bottom,from(#808080),to(#999999));background-image: -webkit-linear-gradient(top,#808080,#999999);background-image: -moz-linear-gradient(top,#808080,#999999);background-image: -o-linear-gradient(top,#808080,#999999);background-image: linear-gradient(top,#808080,#999999);color: white; }
.gray-4-bg { background-color: #999999; color: white; }
.gray-4 { color: #999999; }
.gray-5-grad { -o-background-size: 100% 100%;-moz-background-size: 100% 100%;-webkit-background-size: 100% 100%;background-size: 100% 100%;/* Internet Explorer */*background: #b3b3b3;background: #b3b3b3;filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr=#FF999999, endColorstr=#FFb3b3b3);/* Recent browsers */background-image: -webkit-gradient(linear,left top, left bottom,from(#999999),to(#b3b3b3));background-image: -webkit-linear-gradient(top,#999999,#b3b3b3);background-image: -moz-linear-gradient(top,#999999,#b3b3b3);background-image: -o-linear-gradient(top,#999999,#b3b3b3);background-image: linear-gradient(top,#999999,#b3b3b3);color: black; }
.gray-5-bg { background-color: #b3b3b3; color: black; }
.gray-5 { color: #b3b3b3; }
.gray-6-grad { -o-background-size: 100% 100%;-moz-background-size: 100% 100%;-webkit-background-size: 100% 100%;background-size: 100% 100%;/* Internet Explorer */*background: #cccccc;background: #cccccc;filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr=#FFb3b3b3, endColorstr=#FFcccccc);/* Recent browsers */background-image: -webkit-gradient(linear,left top, left bottom,from(#b3b3b3),to(#cccccc));background-image: -webkit-linear-gradient(top,#b3b3b3,#cccccc);background-image: -moz-linear-gradient(top,#b3b3b3,#cccccc);background-image: -o-linear-gradient(top,#b3b3b3,#cccccc);background-image: linear-gradient(top,#b3b3b3,#cccccc);color: black; }
.gray-6-bg { background-color: #cccccc; color: black; }
.gray-6 { color: #cccccc; }
.gray-7-grad { -o-background-size: 100% 100%;-moz-background-size: 100% 100%;-webkit-background-size: 100% 100%;background-size: 100% 100%;/* Internet Explorer */*background: #e6e6e6;background: #e6e6e6;filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr=#FFcccccc, endColorstr=#FFe6e6e6);/* Recent browsers */background-image: -webkit-gradient(linear,left top, left bottom,from(#cccccc),to(#e6e6e6));background-image: -webkit-linear-gradient(top,#cccccc,#e6e6e6);background-image: -moz-linear-gradient(top,#cccccc,#e6e6e6);background-image: -o-linear-gradient(top,#cccccc,#e6e6e6);background-image: linear-gradient(top,#cccccc,#e6e6e6);color: black; }
.gray-7-bg { background-color: #e6e6e6; color: black; }
.gray-7 { color: #e6e6e6; }
.gray-8-grad { -o-background-size: 100% 100%;-moz-background-size: 100% 100%;-webkit-background-size: 100% 100%;background-size: 100% 100%;/* Internet Explorer */*background: #ffffff;background: #ffffff\0/;filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr=#FFe6e6e6, endColorstr=#FFffffff);/* Recent browsers */background-image: -webkit-gradient(linear,left top, left bottom,from(#e6e6e6),to(#ffffff));background-image: -webkit-linear-gradient(top,#e6e6e6,#ffffff);background-image: -moz-linear-gradient(top,#e6e6e6,#ffffff);background-image: -o-linear-gradient(top,#e6e6e6,#ffffff);background-image: linear-gradient(top,#e6e6e6,#ffffff);color: black; }
.gray-8-grad a { color: black }
.gray-8-bg, .gray-8-bg a { background-color: #ffffff; color: black; }
.gray-8, .gray-8 a { color: #ffffff; }

.bg-blue {
    background-color: #337ab7;
    color: #fff;
}

.bg-yellow {
    background-color: #F5ECCE;
    color: #555;
}

.bg-green {
    background-color: #A9F5A9;
    color: #555;
}

/* end colours */

.img-centered img {
    margin-left: auto;
    margin-right: auto;
}

.bg-light-gray {
    background-color: #f7f7f7;
}

.bg-darkest-gray {
    background-color: #222;
}

.btn-primary, .btn-primary:visited {
    border-color: #3366dd;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #fff;
    background-color: #3366dd;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    border-color: #f6bf01;
    color: #fff;
    background-color: #fec503;
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    border-color: #3366dd;
    background-color: #3366dd;
}

.btn-primary .badge {
    color: #3366dd;
    background-color: #fff;
}

.btn-xl {
    padding: 20px 40px;
    border-color: #3366dd;
    border-radius: 3px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #fff !important;
    background-color: #3366dd;
}

.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    border-color: #f6bf01;
    color: #fff;
    background-color: #fec503;
}

.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    background-image: none;
}

.btn-xl.disabled,
.btn-xl[disabled],
fieldset[disabled] .btn-xl,
.btn-xl.disabled:hover,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl:hover,
.btn-xl.disabled:focus,
.btn-xl[disabled]:focus,
fieldset[disabled] .btn-xl:focus,
.btn-xl.disabled:active,
.btn-xl[disabled]:active,
fieldset[disabled] .btn-xl:active,
.btn-xl.disabled.active,
.btn-xl[disabled].active,
fieldset[disabled] .btn-xl.active {
    border-color: #3366dd;
    background-color: #3366dd;
}

.btn-xl .badge {
    color: #3366dd;
    background-color: #fff;
}

.btn-dark {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 0;
    color: #fff;
}
.btn-dark:hover, .btn-dark:focus, .btn-dark:active {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
}
.btn-light {
    background-color: rgb(255, 255, 255);
    border-radius: 0;
    color: #333;
}
.btn-light:hover, .btn-light:focus, .btn-light:active {
    background-color: rgba(255, 255, 255, 0.8);
    color: #333;
}
hr.small {
    max-width: 100px;
}

.smaller {
  font-size: 80%;
}

.navbar-default {
    border-color: transparent;
    background-color: #222;
}

.navbar-default .navbar-brand {
    font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
    color: #3366dd;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
    color: #fec503;
}

.navbar-default .navbar-collapse {
    border-color: rgba(255,255,255,.02);
}

.navbar-default .navbar-toggle {
    border-color: #3366dd;
    background-color: #3366dd;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #3366dd;
}

.navbar-default .nav li a {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: #fff;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    outline: 0;
    color: #3366dd;
}

.navbar-default .navbar-nav>.active>a {
    border-radius: 0;
    color: #fff;
    background-color: #3366dd;
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #fec503;
}

.navbar-brand{
  padding:0;
}

.navbar-header img{
  height:45px;
  opacity: 0.4;
  padding-top:5px;
}

@media(min-width:768px) {
    .navbar-default {
        padding: 25px 0;
        border: 0;
        background-color: transparent;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-default .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-default .navbar-nav>.active>a {
        border-radius: 3px;
    }

    .navbar-default.navbar-shrink {
        padding: 10px 0;
        background-color: #222;
    }

    .navbar-default.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
}

header {
    text-align: center;
    color: #fff;
    background-attachment: scroll;
    background-image: url(../img/ngc2359.jpg);
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header .intro-text {
    padding-top: 100px;
    padding-bottom: 50px;
}

header .intro-text .intro-lead-in {
    margin-bottom: 25px;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1em;
    font-style: italic;
    line-height: 22px;
}

header .intro-text .intro-heading {
    margin-bottom: 25px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 2em;
    font-weight: 700;
    line-height: 50px;
}

@media(min-width:768px) {
    header .intro-text {
        padding-top: 300px;
        padding-bottom: 200px;
    }

    header .intro-text .intro-lead-in {
        font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 2em;
        font-style: italic;
    }

    header .intro-text .intro-heading {
        text-transform: uppercase;
        font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 3.5em;
        font-weight: 700;
        line-height: 75px;
    }
}

section {
    padding: 50px 0;
}

section h2.section-heading {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 40px;
}

section h3.section-subheading {
    margin-bottom: 75px;
    text-transform: none;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
}

@media(min-width:768px) {
    section {
        padding: 50px 0;
    }
}

.header-bg{
  background-color: rgba(0,0,0,0.5);
}

.public-header {
  background-image: url('../img/banner_ngc1672.jpg');
  display:block;
  width:100%;
}

.astronomer-header {
  background-image: url('../img/banner_M83-a.jpg');
  display:block;
  width:100%;
}

.general-header {
  background-image: url('../img/banner_ngc1672.jpg');
  display:block;
  width:100%;
}

.spacebook-header {
  background-image: url('../img/banner_M83.jpg');
  display:block;
  width:100%;
}

.seminar-header {
  background-image: url('../img/banner_M95.jpg');
  display:block;
  width:100%;
}

.bg-telescope {
  color: #fff;
  background-attachment: scroll;
  background-image: url('../img/sedgwick.jpg');
  background-position: center center;
  background-repeat: none;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.bg-space {
  color: #fff;
  background-attachment: scroll;
  background-image: url('../img/M101_lg.jpg');
  background-position: center center;
  background-repeat: none;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.public-header, .astronomer-header, .about-header, .general-header, .spacebook-header {
  color:#fff;
  margin-top:-20px;
}
.service-heading {
    margin: 15px 0;
    text-transform: none;
}

#portfolio .portfolio-item {
    right: 0;
    margin: 0 0 15px;
}

#portfolio .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(254,209,54,.9);
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
    opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
    position: absolute;
    top: 30%;
    left:35%;
    width: 100%;
    height: 100px;
    margin-top: -12px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content img {
    margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
    margin: 0;
}

#portfolio .portfolio-item .portfolio-caption {
    margin: 0 auto;
    padding: 25px;
    max-width: 400px;
    text-align: center;
    background-color: #fff;
}

#portfolio .portfolio-item .portfolio-caption h4 {
    margin: 0;
    text-transform: none;
}

#portfolio .portfolio-item .portfolio-caption p {
    margin: 0;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-style: italic;
}

#portfolio * {
    z-index: 2;
}

@media(min-width:767px) {
    #portfolio .portfolio-item {
        margin: 0 0 30px;
    }
}

#seminar-home{
  text-align: center;
  font-size: 120%;
}

.team-member {
    margin-bottom: 50px;
    text-align: center;
}

.team-member img {
    margin: 0 auto;
    border: 7px solid #fff;
}

.team-member h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
}

.team-member p {
    margin-top: 0;
}

aside.clients img {
    margin: 50px auto;
}

footer .news-links, footer .footer-links {
    text-align: left;
}

footer {
    padding: 25px 0;
    text-align: left;
    border-top: 1px #ddd solid;
    background-color: #eee;
}

footer span.copyright {
    text-transform: uppercase;
    text-transform: none;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 40px;
}

footer ul.quicklinks {
    margin-bottom: 0;
}

ul.social-buttons {
    text-align: center;
    margin-bottom: 0;
}
ul.features {
	margin: 16px 0px 16px 0px;
}

ul.features {
	margin: 0px;
	padding: 0px;
	list-style: none;
	font-size: 0.9em;
}

ul.features li {
	margin: 0px;
	padding: 0px;
	width: 304px;
	margin-right: 16px;
	float: left;
	min-height: 1px;
	height: 81px;
	overflow: hidden;
}

ul.features li {
 margin-right: 0px;
 margin-bottom: 16px;
}

ul.features li h3 {
	margin-top: 0px;
}
ul.features li img {
	float: left;
	margin-right: 8px;
	width: 144px;
	height: 81px;
}

ul.social-buttons li a {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    outline: 0;
    color: #fff;
    background-color: #222;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
    background-color: #3366dd;
}

.back-button {
  border-top:1px solid #aaa;
  padding: 10px 0 ;
}

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
    outline: 0;
}

::-moz-selection {
    text-shadow: none;
    background: #3366dd;
}

::selection {
    text-shadow: none;
    background: #3366dd;
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

body {
    webkit-tap-highlight-color: #3366dd;
}


/*
 * Override Bootstrap's default container.
 */


/*
 * Masthead for nav
 */

.blog-masthead {
  background-color: #428bca;
  -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
          box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}

/* Nav links */
.blog-nav-item {
  position: relative;
  display: inline-block;
  padding: 10px;
  font-weight: 500;
  color: #cdddeb;
}
.blog-nav-item:hover,
.blog-nav-item:focus {
  color: #fff;
  text-decoration: none;
}

/* Active state gets a caret at the bottom */
.blog-nav .active {
  color: #fff;
}
.blog-nav .active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  content: " ";
  border-right: 5px solid transparent;
  border-bottom: 5px solid;
  border-left: 5px solid transparent;
}


/*
 * Blog name and description
 */

.blog-header {
  padding-top: 20px;
  padding-bottom: 20px;
}
.blog-title {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 60px;
  font-weight: normal;
}
.blog-description {
  font-size: 20px;
  color: #999;
}


/*
 * Main column and sidebar layout
 */

.blog-main {
  font-size: 18px;
  line-height: 1.5;
}

/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 15px;
  margin: 0 -15px 15px;
}
.sidebar-module-inset {
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}


/*
 * Blog posts
 */

.blog-post {
  margin-bottom: 60px;
}
.blog-post-title {
  margin-bottom: 5px;
  font-size: 40px;
}
.blog-post-meta {
  margin-bottom: 20px;
  color: #999;
}


/*
 * Footer
 */

.blog-footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

/*
 * Font for LCOGT telescope silhouettes
 */

 @font-face {
     font-family: 'Glyphter';
     src: url('../fonts/Glyphter.eot');
     src: url('../fonts/Glyphter.eot?#iefix') format('embedded-opentype'),
          url('../fonts/Glyphter.woff') format('woff'),
          url('../fonts/Glyphter.ttf') format('truetype'),
          url('../fonts/Glyphter.svg#Glyphter') format('svg');
     font-weight: normal;
     font-style: normal;
 }
 .lco-icon{
 	display: inline-block;
    font-family: 'Glyphter';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
 }
 .icon-0m4:before{content:'\0041'}
 .icon-1m0:before{content:'\0042'}
 .icon-2m0:before{content:'\0043'}

 a.icon {
    color: #3366dd;
}
 a.icon:hover {
    color: #fec503;
}
