{% extends 'faulkes/list.html' %}
{% load faulkes_extras %}

{% block script-content %}{% endblock %}
{%block header %}{{ input.title }}{%endblock%}
{%block title %}{{ input.title }}{%endblock%}

{% block breadcrumb %}
								<div class="breadcrumb">
									<a href="{% url rtiadminsite.faulkes.views.index %}">Observations</a> &raquo; <a href="{% url rtiadminsite.faulkes.views.index %}category">Categories</a> &raquo; {{ category }}
								</div>
{% endblock %}

{% block telescopes-list-title %}Other telescopes at this site:{% endblock %}

{% block main-content %}
						<div class="row">
							<p>There are {{ n }} observations classified as {{ category|lowercase }}. The classification is automatic based on the observation title set by the observer so may include incorrect results when objects of different types have similar names.</p>
						</div>
						<div class="row">
							{% if pager %}
							<div class="pager">{{ pager|safe }}</div>
							{% endif %}

							<ul class='observation-results' xmlns:dc='http://purl.org/dc/elements/1.1/' xmlns:UCD='http://www.ivoa.net/rdf/Vocabularies/UCD#'>
{% for o in obs %}
							<li class="onecol{% if forloop.counter|divisibleby:6 %} lastcol{% else %}{% endif %}">
								<div class='thumb' about='{{ o.link_obs }}'>
									<span class='thumbnail'><a href='{% url rtiadminsite.faulkes.views.index %}{{ o.link_obs }}'><img src='{{ o.thumbnail }}' alt='{{ o.skyobjectname }}' /></a></span>
									<p><span class="title" property='UCD:obs' title='{{ o.skyobjectname }}'>{{ o.skyobjectname }}</span><br />By <a href="{% url rtiadminsite.faulkes.views.index %}{{ o.link_user }}" class="observer" title="{{ o.user }}" property="UCD:obs.observer">{{ o.user }}</a></p>
					
									<div class='more-info'>
										<div class='name'>Title: <span property='dc:title'>{{ o.skyobjectname }}</span></div>
										<div class='position'>RA: {{ o.raval|degreestohms }}, Dec.: {{ o.decval|degreestodms }}<br /><span style='font-size:0.7em;'>(View coordinates in <a href='http://server1.wikisky.org/v2?ra={{ o.raval }}&amp;de={{ o.decval }}&amp;zoom=6&amp;img_source=astrophoto'>Wikisky</a> or <a href='http://www.worldwidetelescope.org/wwtweb/goto.aspx?object=ViewShortcut&amp;ra={{ o.raval }}&amp;dec={{ o.decval }}&amp;zoom=3'>WorldWideTelescope</a>)</span></div>
										<div class='telescope'>Telescope: {{ o.telescope.name }}</div>					
										<div class='filter'>Filter: {{ o.filter }}</div>
										<div class='exposure'>Exposure: {{ o.exposuresecs }} s</div>
										<time datetime='{{ o.whentaken|isodatestamp }}'>Date: {{ o.whentaken|datestamp }}</time>
									</div>
								</div>
							</li>
{% endfor %}
							</ul>
							{% if pager %}
							<div class="pager">{{ pager|safe }}</div>
							{% endif %}
						</div>
{% endblock %}

