{% extends 'faulkes/base.html' %}
{% load faulkes_extras %}

{% block script-content %}
	<script type="text/javascript" src="/faulkes/media/js/rti_archive_lookup.js"></script>
{% endblock %}

{%block header %}{{ obs.skyobjectname }}{%endblock%}
{%block title %}{{ obs.skyobjectname }}{%endblock%}

{% block breadcrumb %}
								<a href="{% url rtiadminsite.faulkes.views.index %}">Observations</a> &raquo; <a href="{% url rtiadminsite.faulkes.views.index %}{{ obs.telescope.site.code }}">{{ telescope.site.name }}</a> &raquo; <a href="{% url rtiadminsite.faulkes.views.index %}{{ telescope.site.code }}/{{ telescope.code }}">{% if telescope.short %}{{ telescope.short }}{% else %}{{ telescope.name }}{% endif %}</a> &raquo; {{ obs.skyobjectname }}
								<br />								
{% endblock %}

{% block telescopes-list-title %}Nearby telescopes:{% endblock %}

{% block main-content %}
						<div class="row" class='observation' xmlns:dc='http://purl.org/dc/elements/1.1/' xmlns:UCD='http://www.ivoa.net/rdf/Vocabularies/UCD#' xmlns:avm='http://www.communicatingastronomy.org/avm/1.0/'>
							<div class='sixoften'>
								<a href='{{ obs.fullimage_url }}' title='Click for full size version'><img src='{{ obs.fullimage_url }}' class='observation-image' alt='{{ obs.title }}' /></a>
								<p class='moreobservations'>More observations by <a href="{% url rtiadminsite.faulkes.views.index %}user/{{ obs.userid }}">{{ obs.user }}</a>:</p>
								<ul class='stream'>{% for ob in otherobs %}<li class='{{ ob.class }}'><a href='{% url rtiadminsite.faulkes.views.index %}{{ ob.url }}'><img src='{{ ob.thumb }}' alt='{{ ob.title }}' title='{{ ob.title }} taken on {{ ob.date }}' /></a></li>{% endfor %}</ul>
							</div>
							<div class='fouroften observation-metadata lastcol'>
								<div class="padder">
									<table class='avm'>
										<tr style='display:none;'><td class='first'>Title:</td><td property='dc:title'>{{ obs.title }}</td></tr>
										<tr><td class='first'>Views:</td><td>{{ obs.views }}<div id='observation-stats'></div></td></tr>
										<tr><td class='first'>Observer:</td><td><a href="{% url rtiadminsite.faulkes.views.index %}user/{{ obs.userid }}" property="UCD:obs.observer">{{ obs.user }}</a></td></tr>
										<tr><td class='first'>Date:</td><td><time property='UCD:time.creation'>{{ obs.whentaken|datestamp }}</time></td></tr>
										<tr><td class='first'>Coordinates:</td><td><span class='Spatial-ReferenceValue' title='{{ obs.raval }};{{ obs.decval }}'><span property='UCD:pos.eq.RA' content='{{ obs.raval }}'>{{ obs.raval|degreestohms }}</span>, <span property='UCD:pos.eq.DEC' content='{{ obs.decval }}'>{{ obs.decval|degreestodms }}</span></span><span class='Spatial-CoordinateFrame'>FK5</span> <span class='Spatial-Equinox'>J2000</span>
										<br /><a href='http://server1.wikisky.org/v2?ra={{ obs.raval|degreestohours }}&amp;de={{ obs.decval }}&amp;zoom=10&amp;img_source=astrophoto'>Position in Wikisky</a>
										<br /><a href='http://www.worldwidetelescope.org/wwtweb/goto.aspx?object=ViewShortcut&amp;ra={{ obs.raval|degreestohours }}&amp;dec={{ obs.decval }}&amp;zoom=3'>Position in WorldWideTelescope</a>
										<br /><a href='{% url rtiadminsite.faulkes.views.index %}{{ telescope.site.code }}/{{ telescope.code }}/{{ obs.imageid }}.kml'>Position in Sky for Google Earth</a>
										</td></tr>
										<tr><td class='first'>Telescope:</td><td property='UCD:instr.tel'><a href="{% url rtiadminsite.faulkes.views.index %}{{ telescope.site.code }}/{{ telescope.code }}">{{ telescope.name }}</a></td></tr>
										<tr><td class='first'>Filter:</td><td>{{ obs.filter }}</td></tr>
										<tr><td class='first'>Exposure:</td><td><span property='UCD:obs.exposure'>{{ obs.exposuresecs }}</span> s</td></tr>
										<tr><td class='first'>Data:</td><td>
											<ul class='filters'>
{% for filter in filters %}
												<li class='filter-{{ filter.id }}'><a href='{{ filter.fits }}' property='UCD:obs.image'>{{ filter.name }} FITS</a> <a href='{{ filter.img }}' title='{{ filter.name }} jpeg' class='filter-{{ filter.name }}'>or jpeg</a></li>
{% endfor %}
											</ul>
											<a href='http://www.worldwidetelescope.org/wwtweb/ShowImage.aspx?name={{ obs.object }}&ra={{ obs.RaVal }}&dec={{ obs.DecVal }}8&x=1024&y=1024&scale=0.274&rotation=0&imageurl=http://rti.faulkes-telescope.com/observations/2011/08/09/process-677-1.jpg&creditsUrl=http://lcogt.net/observations/ogg/2m0a/61407&credits=Image%20taken%20with%20Faulkes%20Telescope%20North%20operated%20by%20Las%20Cumbres%20Observatory%20Global%20Telescope%20Network&thumb=http://rti.faulkes-telescope.com/observations/2011/08/09/process-677-1_120.jpg'>View in WorldWideTelescope</a>
										</td></tr>
{% if obs.avmcode %}										<tr><td class='first'>Category:</td><td><a href="{% url rtiadminsite.faulkes.views.index %}category/{{ obs.avmcode }}">{{ obs.avmname }}</a></td></tr>{% endif %}
										<tr><td class='first'>Credit:</td><td>{{ obs.credit }}</td></tr>
										<tr><td class='first'>License:</td><td>	<a href="{{ obs.license }}" rel="license cc:license"><img src="{{ MEDIA_URL }}img/{{ obs.licenseimage }}" style="height:1.5em;" title="Some rights reserved" /></a></td></tr>
									</table>
								</div>
							</div>
						</div>
						<div class="row">
							{{ obs.other }}
						</div>
{% endblock %}

