{% extends 'faulkes/base.html' %}

{% block body-class %}home {%endblock%}
{% block header %}500 Error: Something went wrong{% endblock %}
{% block title %}500 Error: Something went wrong{% endblock %}
{% block search %}{% endblock %}

{% block main-content %}
	<div class="row rowfirst">
		<p>Unfortunately, whilst trying to create the page you were looking for, something broke. {% if msg %}{{ msg }}{% else %}You may want to go to the <a href="/observations/">main observations page</a> or failing that <a href="/contact">send us a message about it</a>.{% endif %}</p>
	</div>

{% endblock %}
