{% extends 'faulkes/base.html' %}

{% block css-content %}
<style type="text/css">
ol { 
	counter-reset: section;
	list-style-type: none!important;
}
ol li { }
ol li:before { content: counters(section, ".") " "; counter-increment: section; }
</style>
{% endblock %}

{% block script-content %}
	<script>
	<!--

	categories = {{categorylookup|safe}}
	catkeys = new Array();
	for (var i in categories){
		catkeys.push(i)
	}
	catkeys.sort()
	
	$(document).ready(function(){
		start = 0;
		$('li.category').each(function(e){
			a = $(this).find('a')
			avm = a.attr('data');
			lnk = a.attr('href');

			lnk = lnk.substring(0,lnk.indexOf('category/')+9)
			oldl = 1
			o = '';
			for(var i = start; i < catkeys.length ; i++){
				l = catkeys[i].length
				if(oldl > l)
					for(j = 0 ; j < (oldl-l)/2 ; j++) o += '<\/li><\/ol>';
				if(oldl == l) o += "<\/li>"
				if(catkeys[i][0] < avm || catkeys[i].length == 1) continue;
				if(catkeys[i][0] > avm){
					start = i;
					break;
				}
				if(oldl < l) o += ' <ol class="collapse" data="'+catkeys[i]+'">';

				o += '<li><a href="'+lnk+catkeys[i]+'">'+categories[catkeys[i]]+'<\/a>';
				oldl = l
			}
			$(this).append(o)
		});
	});

	// -->
	</script>
{% endblock %}
{%block header %}Categories{%endblock%}
{%block title %}Categories{%endblock%}

{% block breadcrumb %}
								<div class="breadcrumb">
									<a href="{% url rtiadminsite.faulkes.views.index %}">Observations</a> &raquo; <a href="{% url rtiadminsite.faulkes.views.index %}category">Categories</a>
								</div>
{% endblock %}

{% block alternate %}{% endblock %}

{% block main-content %}
						<div class="row">
							<p>You can browse our public observations based on the following <a href="http://www.virtualastronomy.org/avm_metadata.php">AVM</a> categories. These categories cover the whole of astronomy and therefore some of these categories will be empty.</p>
							<ol>
{% for c in category %}
							<li class="category"><a href="{% url rtiadminsite.faulkes.views.index %}category/{{ c.link }}" data="{{ c.avm }}">{{ c.name }}</a></li>
{% endfor %}
							</ol>
						</div>
{% endblock %}

