{% extends 'faulkes/base.html' %}
{% load faulkes_extras %}

{%block header %}Observations{%endblock%}

{% block main-content %}
						<div class="row">
							<p>Welcome. This part of our site aims to ensure that every observation taken by a public user of our network has a permanent web presence. You can see the most recent and popular observations below, <a href="{% url rtiadminsite.faulkes.views.index %}search">search</a> by title, or browse <a href="#bysite">by site</a>, <a href="#bytelescope">telescope</a> or <a href="#bycategory">category</a>.</p>
						</div>

						<div class="row">
							<h2><a href="{% url rtiadminsite.faulkes.views.index %}recent/">Most recent observations</a></h2>
							<ul class='observation-results' xmlns:dc='http://purl.org/dc/elements/1.1/' xmlns:UCD='http://www.ivoa.net/rdf/Vocabularies/UCD#'>
{% for o in latest %}
							<li class="onecol{% if forloop.counter|divisibleby:6 %} lastcol{% else %}{% endif %}">
								<div class='thumb' about='{{ o.link_obs }}'>
									<span class='thumbnail'><a href='{% url rtiadminsite.faulkes.views.index %}{{ o.link_obs }}'><img src='{{ o.thumbnail }}' alt='{{ o.skyobjectname }}' /></a></span>
									<p><span class="title" property='UCD:obs' title='{{ o.skyobjectname }}'>{{ o.skyobjectname }}</span><br />By <a href="{% url rtiadminsite.faulkes.views.index %}{{ o.link_user }}" class="observer" title="{{ o.user }}" property="UCD:obs.observer">{{ o.user }}</a></p>
					
									<div class='more-info'>
										<div class='name'>Title: <span property='dc:title'>{{ o.skyobjectname }}</span></div>
										<div class='position'>RA: {{ o.raval|degreestohms }}, Dec: {{ o.decval|degreestodms }}<br /><span style='font-size:0.7em;'>(View coordinates in <a href='http://server1.wikisky.org/v2?ra={{ o.raval }}&amp;de={{ o.decval }}&amp;zoom=6&amp;img_source=astrophoto'>Wikisky</a> or <a href='http://www.worldwidetelescope.org/wwtweb/goto.aspx?object=ViewShortcut&amp;ra={{ o.raval }}&amp;dec={{ o.decval }}&amp;zoom=3'>WorldWideTelescope</a>)</span></div>
										<div class='telescope'>Telescope: {{ o.telescope.name }}</div>					
										<div class='filter'>Filter: <{% if o.filterprops.1 %}a href="http://lcogt.net/{{ o.filterprops.1 }}"{% else %}span{% endif %} title="{{ o.filter }}">{{ o.filterprops.0 }}</{% if o.filterprops.1 %}a{% else %}span{% endif %}></div>
										<div class='exposure'>Exposure: {{ o.exposuresecs }} s</div>
										<time datetime='{{ o.whentaken|isodatestamp }}'>Date: {{ o.whentaken|datestamp }}</time>

									</div>
								</div>
							</li>
{% endfor %}
							</ul>
						</div>
						<div class="row">
							<h2><a href="{% url rtiadminsite.faulkes.views.index %}trending/">Currently trending observations</a></h2>
							<ul class='observation-results' xmlns:dc='http://purl.org/dc/elements/1.1/' xmlns:UCD='http://www.ivoa.net/rdf/Vocabularies/UCD#'>
{% for o in trending %}
							<li class="onecol{% if forloop.counter|divisibleby:6 %} lastcol{% else %}{% endif %}">
								<div class='thumb' about='{{ o.link_obs }}'>
									<span class='thumbnail'><a href='{% url rtiadminsite.faulkes.views.index %}{{ o.link_obs }}'><img src='{{ o.thumbnail }}' alt='{{ o.skyobjectname }}' /></a></span>
									<p><span class="title" property='UCD:obs' title='{{ o.skyobjectname }}'>{{ o.skyobjectname }}</span><br />By <a href="{% url rtiadminsite.faulkes.views.index %}{{ o.link_user }}" class="observer" title="{{ o.user }}" property="UCD:obs.observer">{{ o.user }}</a></p>
					
									<div class='more-info'>
										<div class='name'>Title: <span property='dc:title'>{{ o.skyobjectname }}</span></div>
										<div class='position'>RA: {{ o.raval|degreestohms }}, Dec: {{ o.decval|degreestodms }}<br /><span style='font-size:0.7em;'>(View coordinates in <a href='http://server1.wikisky.org/v2?ra={{ o.raval }}&amp;de={{ o.decval }}&amp;zoom=6&amp;img_source=astrophoto'>Wikisky</a> or <a href='http://www.worldwidetelescope.org/wwtweb/goto.aspx?object=ViewShortcut&amp;ra={{ o.raval }}&amp;dec={{ o.decval }}&amp;zoom=3'>WorldWideTelescope</a>)</span></div>
										<div class='telescope'>Telescope: {{ o.telescope.name }}</div>					
										<div class='filter'>Filter: <{% if o.filterprops.1 %}a href="http://lcogt.net/{{ o.filterprops.1 }}"{% else %}span{% endif %} title="{{ o.filter }}">{{ o.filterprops.0 }}</{% if o.filterprops.1 %}a{% else %}span{% endif %}></div>
										<div class='exposure'>Exposure: {{ o.exposuresecs }} s</div>
										<time datetime='{{ o.whentaken|isodatestamp }}'>Date: {{ o.whentaken|datestamp }}</time>

									</div>
								</div>
							</li>
{% endfor %}
							</ul>
						</div>
						<div class="row">
							<h2><a href="{% url rtiadminsite.faulkes.views.index %}popular/">All-time most popular observations</a></h2>
							<ul class='observation-results' xmlns:dc='http://purl.org/dc/elements/1.1/' xmlns:UCD='http://www.ivoa.net/rdf/Vocabularies/UCD#'>
{% for o in popular %}
							<li class="onecol{% if forloop.counter|divisibleby:6 %} lastcol{% else %}{% endif %}">
								<div class='thumb' about='{{ o.link_obs }}'>
									<span class='thumbnail'><a href='{% url rtiadminsite.faulkes.views.index %}{{ o.link_obs }}'><img src='{{ o.thumbnail }}' alt='{{ o.skyobjectname }}' /></a></span>
									<p><span class="title" property='UCD:obs' title='{{ o.skyobjectname }}'>{{ o.skyobjectname }}</span><br />By <a href="{% url rtiadminsite.faulkes.views.index %}{{ o.link_user }}" class="observer" title="{{ o.user }}" property="UCD:obs.observer">{{ o.user }}</a></p>
					
									<div class='more-info'>
										<div class='name'>Title: <span property='dc:title'>{{ o.skyobjectname }}</span></div>
										<div class='position'>RA: {{ o.raval|degreestohms }}, Dec: {{ o.decval|degreestodms }}<br /><span style='font-size:0.7em;'>(View coordinates in <a href='http://server1.wikisky.org/v2?ra={{ o.raval }}&amp;de={{ o.decval }}&amp;zoom=6&amp;img_source=astrophoto'>Wikisky</a> or <a href='http://www.worldwidetelescope.org/wwtweb/goto.aspx?object=ViewShortcut&amp;ra={{ o.raval }}&amp;dec={{ o.decval }}&amp;zoom=3'>WorldWideTelescope</a>)</span></div>
										<div class='telescope'>Telescope: {{ o.telescope.name }}</div>					
										<div class='filter'>Filter: <{% if o.filterprops.1 %}a href="http://lcogt.net/{{ o.filterprops.1 }}"{% else %}span{% endif %} title="{{ o.filter }}">{{ o.filterprops.0 }}</{% if o.filterprops.1 %}a{% else %}span{% endif %}></div>
										<div class='exposure'>Exposure: {{ o.exposuresecs }} s</div>
										<time datetime='{{ o.whentaken|isodatestamp }}'>Date: {{ o.whentaken|datestamp }}</time>

									</div>
								</div>
							</li>
{% endfor %}
							</ul>
						</div>
{% endblock %}

