{% extends 'faulkes/base.html' %}
{% load faulkes_extras %}

{%block header %}Observations{%endblock%}

{% block main-content %}
						<div class="row">
							<p>Welcome. This part of our site aims to ensure that every observation taken by a public user of our network has a permanent web presence. You can see the most recent and popular observations below, <a href="{% url faulkes.views.index %}search">search</a> by title, or browse <a href="#bysite">by site</a>, <a href="#bytelescope">telescope</a> or <a href="{% url faulkes.views.index %}category/">category</a>.</p>
						</div>

						<div class="row">
							<h2><a href="{% url faulkes.views.index %}recent/">Most recent observations</a></h2>
							<div class="time"></div>
							<ul class="observation-results" data-json="{% url faulkes.views.index %}search.json" data-update="add" xmlns:dc='http://purl.org/dc/elements/1.1/' xmlns:UCD='http://www.ivoa.net/rdf/Vocabularies/UCD#'>
{% include "faulkes/observationlist.html" with obs=latest %}
							</ul>
						</div>
						<div class="row">
							<h2><a href="{% url faulkes.views.index %}trending/">Currently trending observations</a></h2>
							<ul class='observation-results' data-json="{% url faulkes.views.index %}trending.json" data-update="update" xmlns:dc='http://purl.org/dc/elements/1.1/' xmlns:UCD='http://www.ivoa.net/rdf/Vocabularies/UCD#'>
{% include "faulkes/observationlist.html" with obs=trending %}
							</ul>
						</div>
						<div class="row">
							<h2><a href="{% url faulkes.views.index %}popular/">All-time most popular observations</a></h2>
							<ul class='observation-results' xmlns:dc='http://purl.org/dc/elements/1.1/' xmlns:UCD='http://www.ivoa.net/rdf/Vocabularies/UCD#'>
{% include "faulkes/observationlist.html" with obs=popular %}
							</ul>
						</div>
{% endblock %}

