{% extends 'faulkes/list.html' %}
{% load faulkes_extras %}

{%block header %}{{ object.name}}{%endblock%}
{%block title %}{{ object.name}}{%endblock%}

{% block breadcrumb %}
								<div class="breadcrumb">
									<a href="{% url rtiadminsite.faulkes.views.index %}">Observations</a> &raquo; {{ object.name}}
								</div>
{% endblock %}

{% block main-content %}
						<div class="row">
							{%if object.raval %}<p>Position: <a href="{% url rtiadminsite.faulkes.views.index %}search?RA={{ object.raval }}&DEC={{ object.decval }}&SR=3" title="Search for observations near these coordinates">RA: {{ object.raval|degreestohms }}, Dec: {{ object.decval|degreestodms }}</a>. {% endif %}{% if object.avm.code %}Category: <a href="{% url rtiadminsite.faulkes.views.index %}category/{{ object.avm.code }}">{{ object.avm.name|lowercase }}</a>. {% endif %}{%if object.raval %} Find out <a href="{{ object.service.url }}">more about {{ object.name }} from {{ object.service.name }}</a>. {% endif %}There are {{ n }} LCOGT observations tagged as {{ object.name }}.</p>
{% if input.exposure %}
							<p class="skip-link"><em><a href="#results">Skip to observations</a></em></p>
							<div class="gray-7-bg closeable">
								<div class="padded">
									<h2>Summary</h2>
									{% if input.mostobservedby %}<p>{{ object.name }} was most observed by <a href="{% url rtiadminsite.faulkes.views.index %}user/{{ input.mostobservedby.id }}">{{ input.mostobservedby.name }}</a> ({{ input.mostobservedby.count }} observations)</p>{% endif %}
									{% if input.bins %}
									<div style="display:inline-block;float:left;margin-right:32px;">
										<p>A summary of all observations over the past year:</p>
										<div class="temporalplot">
											<div class="temporalbars">
{% for b in input.bins reversed %}											<div style="display:inline-block;float:left;"><div class="temporalnum" style="margin-top:{% widthratio input.binmax|negative:b.count input.binmax 60 %}px;">{% if b.count > 0 %}<a href="{% url rtiadminsite.faulkes.views.index %}search/?query={{object.name}}&daterange=select&sday=1&smon={{ b.m }}&syear={{b.year}}&eday=31&emon={{b.m}}&eyear={{b.year}}">{{ b.count }}</a>{% endif %}</div><div class="temporalbar" style="height:{% widthratio b.count input.binmax 60 %}px;{% if not forloop.last %}margin-right:4px;{% endif %}"></div></div>{% endfor %}
												<div style="clear:both;"></div>
											</div>
											{% for b in input.bins reversed %}<div class="temporaltxt{% if b.m = 1 %} startyear{% endif %}" style="{% if not forloop.last %}margin-right:4px;{% endif %}">{{ b.month }}{% if b.m = 1 %} {{ b.year }}{% endif %}</div>{% endfor %}
										</div>
									</div>
									{% endif %}
									<div class="exposureplot">
										<p>A summary of all exposure times for {{ object.name }}:</p>
										<ul>
											{% for range in input.exposure %}<li><div class="exposuretxt">{{ range.label }}</div><div class="exposurebar" style="width:{% widthratio range.observations input.exposuremax 272 %}px;"></div> <div class="exposurenum">{% if range.observations > 0 %}<a href="{% url rtiadminsite.faulkes.views.index %}search/?query={{object.name}}{% if range.min %}&expmin={{ range.min }}{% endif %}{% if range.max %}&expmax={{ range.max }}{% endif %}{% if object.avm.code %}&avm={{ object.avm.code }}{% endif %}">{{ range.observations }}</a>{% endif %}</div></li>{% endfor %}
										</ul>
									</div>
									<div style="clear:both;"></div>
								</div>
							</div>
{% endif %}
						</div>
						<div class="row lastrow">
{% block list %}
							{% if pager %}
							<div class="pager">{{ pager|safe }}</div>
							{% endif %}

							<ul id='results' class='observation-results' xmlns:dc='http://purl.org/dc/elements/1.1/' xmlns:UCD='http://www.ivoa.net/rdf/Vocabularies/UCD#'>
{% for o in obs %}
							<li class="onecol{% if forloop.counter|divisibleby:6 %} lastcol{% else %}{% endif %}">
								<div class='thumb' about='{{ o.link_obs }}'>
									<span class='thumbnail'><a href='{% url rtiadminsite.faulkes.views.index %}{{ o.link_obs }}'><img src='{{ o.thumbnail }}' alt='{{ o.skyobjectname }}' /></a></span>
									<p><span class="title" property='UCD:obs' title='{{ o.skyobjectname }}'>{{ o.skyobjectname }}</span><br />By <a href="{% url rtiadminsite.faulkes.views.index %}{{ o.link_user }}" class="observer" title="{{ o.user }}" property="UCD:obs.observer">{{ o.user }}</a></p>
					
									<div class='more-info'>
										<div class='name'>Title: <span property='dc:title'>{{ o.skyobjectname }}</span></div>
										<div class='position'>RA: {{ o.raval|degreestohms }}, Dec: {{ o.decval|degreestodms }}<br /><span style='font-size:0.7em;'>(View coordinates in <a href='http://server1.wikisky.org/v2?ra={{ o.raval }}&amp;de={{ o.decval }}&amp;zoom=6&amp;img_source=astrophoto'>Wikisky</a> or <a href='http://www.worldwidetelescope.org/wwtweb/goto.aspx?object=ViewShortcut&amp;ra={{ o.raval }}&amp;dec={{ o.decval }}&amp;zoom=3'>WorldWideTelescope</a>)</span></div>
										<div class='telescope'>Telescope: {{ o.telescope.name }}</div>					
										<div class='filter'>Filter: {{ o.filter }}</div>
										<div class='exposure'>Exposure: {{ o.exposuresecs }} s</div>
										<time datetime='{{ o.whentaken|isodatestamp }}'>Date: {{ o.whentaken|datestamp }}</time>
									</div>
								</div>
							</li>
{% endfor %}
							</ul>
							{% if pager %}
							<div class="pager">{{ pager|safe }}</div>
							{% endif %}
{% endblock %}
						</div>
{% endblock %}