{% extends 'faulkes/list.html' %}
{% load faulkes_extras %}

{%block header %}{{ user }}'s observations{%endblock%}
{%block title %}{{ user }}'s observations{%endblock%}

{% block breadcrumb %}
								<div class="breadcrumb">
									<a href="{% url rtiadminsite.faulkes.views.index %}">Observations</a> &raquo; {{ user }}
								</div>
{% endblock %}

{% block main-content %}
						<div class="row">
							<p>{% if uri %}<a href="{{uri}}">{% endif %}{{ user }}{% if uri %}</a>{% endif %} has been using the network since {{ start }}. They have {{ n }} observations (total exposure time of <span title="{{ input.exposuretime }} seconds">{{ input.exposuretime|niceduration }}</span>).{% if mostrecent %} Their most recent observation was <span class="mostrecent">{{ mostrecent }}</span>.{% endif %}</p>
{% if input.bins %}
							<p class="skip-link"><em><a href="#results">Skip to observations</a></em></p>
							<div class="gray-7-bg closeable">
								<div class="padded">
									<h2>Summary</h2>
									<div class="temporalplot">
										<div class="temporalbars">
{% for b in input.bins reversed %}											<div class="temporalitem"><div class="temporalnum" style="margin-top:{% widthratio input.binmax|negative:b.count input.binmax 80 %}px;">{% if b.count > 0 %}<a href="{% url rtiadminsite.faulkes.views.index %}search/?user={{user}}&daterange=select&sday=1&smon={{ b.m }}&syear={{b.year}}&eday=31&emon={{b.m}}&eyear={{b.year}}">{{ b.count }}</a>{% endif %}</div><div class="temporalbar" style="height:{% widthratio b.count input.binmax 80 %}px;"></div><div class="temporaltxt{% if b.m = 1 %} startyear{% endif %}" style="{% if forloop.last %}padding-right:0px;{% endif %}">{{ b.month }}{% if b.m = 1 %} {{ b.year }}{% endif %}</div></div>{% endfor %}
											<div style="clear:both;"></div>
										</div>
									</div>
								</div>
							</div>
{% endif %}
						</div>
						<div class="row lastrow">
{% block list %}
							{% if pager %}
							<div class="pager">{{ pager|safe }}</div>
							{% endif %}

							<ul id='results' class='observation-results' data-json="{% url rtiadminsite.faulkes.views.index %}{{ link }}.json{% if input.pager.page > 1 %}?page={{input.pager.page}}{% endif %}" data-update="update" xmlns:dc='http://purl.org/dc/elements/1.1/' xmlns:UCD='http://www.ivoa.net/rdf/Vocabularies/UCD#'>
{% include "faulkes/observationlist.html" with obs=obs %}
							</ul>
							{% if pager %}
							<div class="pager">{{ pager|safe }}</div>
							{% endif %}
{% endblock %}
						</div>
{% endblock %}