{% extends 'faulkes/list.html' %}
{% load faulkes_extras %}

{%block header %}{{ user }}'s observations{%endblock%}
{%block title %}{{ user }}'s observations{%endblock%}

{% block breadcrumb %}
								<div class="breadcrumb">
									<a href="{% url faulkes.views.index %}">Observations</a> &raquo; {{ user }}
								</div>
{% endblock %}

{% block main-content %}
						<div class="row">
							<p>{% if uri %}<a href="{{uri}}">{% endif %}{{ user }}{% if uri %}</a>{% endif %} has been using the network since {{ start }}. They have {{ n }} observations (total exposure time of <span title="{{ input.exposuretime }} seconds">{{ input.exposuretime|niceduration }}</span>).{% if mostrecent %} Their most recent observation was <span class="mostrecent">{{ mostrecent }}</span>.{% endif %}</p>
{% include "faulkes/summary.html" with input=input user=user %}
						</div>
						<div class="row lastrow">
{% block list %}
							{% if pager %}
							<div class="pager">{{ pager|safe }}</div>
							{% endif %}

							<ul id='results' class='observation-results' data-json="{% url faulkes.views.index %}{{ link }}.json{% if input.pager.page > 1 %}?page={{input.pager.page}}{% endif %}" data-update="update" xmlns:dc='http://purl.org/dc/elements/1.1/' xmlns:UCD='http://www.ivoa.net/rdf/Vocabularies/UCD#'>
{% include "faulkes/observationlist.html" with obs=obs %}
							</ul>
							{% if pager %}
							<div class="pager">{{ pager|safe }}</div>
							{% endif %}
{% endblock %}
						</div>
{% endblock %}