{% extends "admin/change_list.html" %}
{% load extra_options %}

{% block bodyclass %}change-list{% endblock %}

{% block coltype %}flex{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block title %}Users with most bookings{% endblock %}

{% block nav-global %}
{% include "admin/menu.html" %}
{% endblock %}

{% block content %}
<div id="content-main">
   <h1>Top 20 Users</h1>
   <div class="module filtered" id="changelist">
      {% block filters %}
          <div id="changelist-filter">
            <h2>Filter</h2>
            <h3>Year</h3>
            <ul>
            {% for y in years %}
                <li>
                <a href="?year={{ y }}{{s.tag}}{{s.type}}">{{y}}</a></li>
            {% endfor %}
            </ul>
            <h3>User type</h3>
            <ul>
               <li><a href="?">All</a></li>
            {% for key, value in types %}
                <li>
                <a href="?type={{ key }}{{s.year}}{{s.tag}}">{{value}}</a></li>
            {% endfor %}
            </ul>
            <h3>TAG</h3>
            <ul>
               <li><a href="?{{s.year}}{{s.type}}">All</a></li>
                <li><a href="?tag=UKRTOC{{s.year}}{{s.type}}">UKRTOC</a></li>
                <li><a href="?tag=HAWRTOC{{s.year}}{{s.type}}">HAWRTOC</a></li>
            </ul>
          </div>
      {% endblock %}
      
   {% block result_list %}
   <table>
      <caption>Stats for: {{year}}</caption>
      <thead>
         <tr>
            <th>Organization</th><th>Type of User</th><th>TAG</th><th>Total slots</th>
            </tr>
         </thead>
      <tbody>
      {% for s in stats %}
   	<tr class="{% cycle 'row1' 'row2' %}">
      <th><a href="{% url admin:wis_registrations_change s.schoolid %}">{{ s.schoolname }}</a></th><td>{{s.usertype|user_type_show}}</td><td> {{s.tag}}</td><td>{{ s.slots__count}}</td>
      </tr>
      {% endfor %}
      </tbody>
   </table>
   {% endblock %}

   </div>
</div>

{% endblock %}