{% extends "admin/change_list.html" %}
{% load extra_options %}
{% load arithmetic %}

{% block bodyclass %}change-list{% endblock %}

{% block coltype %}flex{% endblock %}

{% block title %}Users with most bookings{% endblock %}

{% block nav-global %}
{% include "admin/menu.html" %}
{% endblock %}

{% block content %}
<div id="content-main">
   <h1>Digest of slots for {{date.month}}  {{date.year}}</h1>
   <div class="module filtered" id="changelist">
   {% block search %}
   <div class="actions">
      <form method=GET action="{% url rtiadminsite.wis.views.slots_by_month %}">
      <label>Month</label>
      <input type=text name="month" />
      <label>Year</label>
      <input type=text name="year" />
      <input type=submit value=search />
      </form>
   </div>
   {% endblock %}
      
      
   {% block result_list %}
   <table>
      <thead>
         <tr>
            <th>Date</th><th>Total hours</th><th>Scope</th>
            </tr>
         </thead>
      <tbody>
         
      {% for t in total %}
   	<tr class="{% cycle 'row1' 'row2' %}">
      <th>Total</th><td>{{t.tot|div:"2"}}</td><td> {{t.telid|highlight_scope|safe}}</td>
      </tr>
      {% endfor %}
      
      {% for s in stats %}
   	<tr class="{% cycle 'row1' 'row2' %}">
      <th>{{ s.start_days}}</th><td>{{s.slotid__count|div:"2"}}</td><td> {{s.telid|highlight_scope|safe}}</td>
      </tr>
      {% endfor %}
      </tbody>
   </table>
   {% endblock %}
   </div>

   </div>
</div>

{% endblock %}