{% extends "admin/change_list.html" %}
{% load extra_options %}

{% block bodyclass %}change-list{% endblock %}

{% block coltype %}flex{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block title %}Users with most bookings{% endblock %}

{% block nav-global %}
{% include "admin/menu.html" %}
{% endblock %}

{% block content %}
<div id="content-main">
   <h1>Registered Users</h1>
   <div class="module filtered" id="changelist">
      
   {% block result_list %}
   <table>
      <caption>Registered Users</caption>
      <thead>
         <tr>
            <th>Type of User</th><th>Total</th>
            </tr>
         </thead>
      <tbody>
      {% for s in stats %}
   	<tr class="{% cycle 'row1' 'row2' %}">
      <th>{{ s.tag }}</th><td>{{s.usertype|user_type_show}}</td><td>{{ s.schoolid__count}}</td>
      </tr>
      {% endfor %}
      </tbody>
   </table>
   {% endblock %}

   </div>
</div>

{% endblock %}