<!DOCTYPE html>
  <html lang="en">
  {% load future staticfiles %}

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <link rel="shortcut icon" href="http://lcogt.net/files/favicon.ico" type="image/x-icon" />

      <title>{% block header %}Las Cumbres Observatory Global Telescope Network{% endblock %}</title>

      <!-- Bootstrap Core CSS -->
      <link href='{% static "css/bootstrap.min.css" %}' rel="stylesheet">

      <!-- Custom CSS -->
      <link href='{% static "css/ws-styles.css" %}' rel="stylesheet">
      <link href='{% static "css/obs-styles.css" %}' rel="stylesheet">

      <!-- Custom Fonts -->
      <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
      <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
      <!-- jQuery - Rest of JS is at the end. This is here so we can use Jquery in pages-->
      <script src="{% static 'js/jquery.js' %}"></script>
      {% block header_script %}{% endblock%}

  </head>

  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse {% block navbarstyle %}navbar-static-top{% endblock%}">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img src="{% static 'img/logogray_lg.png'%}" /></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          {% block navbar %}
          <ul class="nav navbar-nav navbar-right">
              <li class="hidden">
                  <a href="#page-top"></a>
              </li>
              <li>
                  <a href="http://lcogt.net/about/">About</a>
              </li>
              <li>
                  <a href="http://lcogt.net/public/">Public</a>
              </li>
              <li>
                  <a href="http://lcogt.net/astronomers/">Astronomers</a>
              </li>
              <li>
                  <a href="http://lcogt.net/observe/">Observing Portal</a>
              </li>
          </ul>
          {% endblock %}
        </div><!--/.nav-collapse -->
      </div>
    </nav>


    {% block title_banner %}
    <div class="jumbotron general-header">
      <div class="container">
        <h1>
          {% block title %}Observations{% endblock %}
        </h1>
      </div>
    </div>
    {% endblock %}

    <div class="container">
      <div class="row">
        {% block search %}

          <div class="col-lg-12">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="e.g. NGC 2020" name='query' />
              <span class="input-group-btn">
                <input type='submit' value='Search observations' class='btn btn-default' />
              </span>
            </div><!-- /input-group -->
            <div style='font-size:0.8em;'>[<a href="{% url 'search' %}">advanced search</a>]</div>
            {% if n > 1 %}
                        <a href="{% url 'home' %}{{link}}/show"><img alt="Slideshow icon" title="Start slideshow of these observations" style="float: right;" src="{% static 'img/rti_archive_slideshow.jpg' %}"></a>
            {% endif %}
          </div><!-- /.col-lg-6 -->

          </div>
{% endblock %}
      </div>
      <div class="row">
        {% block breadcrumb %}{% endblock %}
      </div>
      <div class="row">
        {% if messages %}
        <div class="messages">
        {% for message in messages %}
        <div class="alert alert-dismissable alert-{{ message.tags }}" data-alert="alert">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{ message }}
        </div>
        {% endfor %}
        </div>
        {% endif %}
      </div>
    </div>

{% block fullcontent %}
    <div class="container">
        <div class="row">
          <div class="{% block main_span_size %}col-md-8{% endblock %}">
          {% block main-content %}{% endblock %}
          </div>

          <div class="col-md-4">
          {% block right_panel %}{% endblock %}
          </div>
        </div>
    </div>
{%endblock%}

{% block alternate %}
        <div class="row">
          <div class="col-md-12">
          </div>
        </div>
{% endblock %}


<footer>
    <div class="container">
    <div class="row">
      {% block footer-option %}
      <div class="col-md-4">

        {% if sites %}

        										<h2>{% block sites-list-title %}By site:{% endblock %}</h2>
        										<ul>
        {% for site in sites %}										<li><a href="{% url 'show_site' site.code %}">{{ site.name }}</a></li>{% endfor %}
        										</ul>

        {% endif %}

      </div>
      {% block specialfooter %}
      <div class="col-md-4">

        {% if telescopes %}
        										<h2>{% block telescopes-list-title %}By telescope:{% endblock %}</h2>
        										<ul>
        {% for telescope in telescopes %}										<li><a href="{% url 'show_telescope' telescope.site.code telescope.code %}">{{ telescope.name }}</a></li>{% endfor %}
        										</ul>
        {% endif %}

      </div>
      <div class="col-md-4">

        {% if categories %}

        										<h2>{% block categories-list-title %}<a href="{% url 'category_list' %}">By category</a>:{% endblock %}</h2>
        										<ul>
        {% for c in categories %}										<li><a href="{% url 'category_show' c.link %}">{{ c.name }}</a></li>{% endfor %}
        										</ul>
        {% endif %}

      </div>
      {% endblock %}
    </div>
    {% endblock %}
    <div class="row">
        <ul class="list-inline social-buttons">
            <li></li>
            <li><a href="http://twitter.com/lcogt"><i class="fa fa-twitter"></i></a>
            </li>
            <li><a href="http://facebook.com/lcogt"><i class="fa fa-facebook"></i></a>
            </li>
            <li><a href="/blog/feeds/rss/"><i class="fa fa-rss"></i></a>
            </li>
        </ul>
    </div>
      <div class="row">
        <span class="copyright">Copyright &copy; {% now "Y" %} Las Cumbres Observatory Global Telescope Network. All rights reserved.
              </span>
      </div>
      <div class="row">
        <img src="{% static 'img/logo.png' %}" />
      </div>
    </div>
</footer>



    <!-- Bootstrap core JavaScript
    ================================================== -->

        <!-- Bootstrap Core JavaScript -->
        <script src="{% static 'js/bootstrap.min.js' %}"></script>

        {% block extra_js %}{% endblock %}

  </body>
</html>
