<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Las Cumbres Observatory | {% block title_head %}Many Eyes - One Vision{% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
  <meta name="description" content="{% block meta_description %}{% endblock %}">
  <link rel="shortcut icon" href="https://cdn.lco.global/mainstyle/img/favicon.ico" type="image/x-icon" />


    <!-- Bootstrap Core CSS -->
		<link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' rel="stylesheet">
		<link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css' rel="stylesheet">

		<!-- LCO offiial styles -->
		<link href='https://cdn.lco.global/mainstyle/css/affogato-1.0.0.css' rel="stylesheet">
		<link href='https://cdn.lco.global/mainstyle/css/lco-1.0.0.css' rel="stylesheet">

		<!-- Custom CSS -->
    <link href='{% static "css/obs-styles.css" %}' rel="stylesheet">
      <!-- Custom Fonts -->
      {% block extra_css %}{% endblock%}
      <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
      <!-- jQuery - Rest of JS is at the end. This is here so we can use Jquery in pages-->
      <script src="{% static 'js/jquery.js' %}"></script>
      {% block header_script %}
      <script type="text/javascript">
      $(document).ready(function(){


      $('.archive-thumb-img img').each(function(i, el){
        var frameid= $(el).data('frameid');
        if (typeof(frameid) != 'undefined'){
          $.get("https://thumbnails.lco.global/"+ frameid+"/?height=200&width=200", function(data){
            img_url = data.url;
            $(el).attr('src',img_url);
          });
        }
       });
      });

      </script>
      {% endblock %}

  </head>

  <body>
    <!-- Navigation -->
    {% block nav-bar %}
      <nav class="navbar navbar-inverse head downPage">
        <div class="container-fluid">
          <div class="innerHead">
    				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
    					<span class="sr-only">Toggle navigation</span>
    					<span class="icon-bar"></span>
    					<span class="icon-bar"></span>
    					<span class="icon-bar"></span>
    				</button>
    				<div class="navbar-header branding branding-logo">
    					<a href="/" title="LCO homepage" rel="home" class="navbar-brand"><img src="https://cdn.lco.global/mainstyle/img/LCO-logo-web.jpg" alt="Las Cumbres Observatory" /></a>
    				</div>
    				<div class="navbar-header branding">
    					<div id="lco-name">Las Cumbres Observatory</div>
    				</div>
  	        <div id="navbar" class="collapse navbar-collapse headNav">

  	          <ul class="nav nav-right navbar-nav">
  	              <li class="hidden">
  	                  <a href="#page-top"></a>
  	              </li>
  	              <li>
  	                  <a href="http://lco.global/about/">ABOUT</a>
  	              </li>
  	              <li>
  	                  <a href="http://lco.global/everyone/">FOR EVERYONE</a>
  	              </li>
  	              <li>
  	                  <a href="http://lco.global/astronomers/">FOR ASTRONOMERS</a>
  	              </li>
  	              <li>
  	                  <a href="https://lco.global/observe/">OBSERVING PORTAL</a>
  	              </li>
  	          </ul>

  				<div class="clearfix"></div>
  	        </div><!--/.nav-collapse -->
  				<div class="clearfix"></div>
  	    </div>
        </div>
      </nav>
      {% endblock %}

      <section>
    		<div class="intro downPage blue">
    			<div class="container">
    				<div class="row no-gutter">
    					<div class="col-md-12 title">
    						<h1>Observations</h1>
    					</div>
    				</div>
    			</div>
    		</div>
    	</section>

		{% block fullcontent %}

  	<section>
      <div class="container">
        <div class="row">
          <h1>{% block title %}{% endblock%}</h1>
        </div>
        <div class="row">
          {% if messages %}
          <div class="messages">
          {% for message in messages %}
          <div class="alert alert-dismissable alert-{{ message.tags }}" data-alert="alert">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              {{ message }}
          </div>
          {% endfor %}
          </div>
          {% endif %}
        </div>
      </div>
  		<div class="container downPage">
        <div class="row">
          {% block breadcrumb %}{% endblock %}
        </div>
        {% block search %}
        <div class="row">
						<div class="col-md-6 col-xs-12">
            <form class="form-search" action="{% url 'search' %}" method='GET'>
							<div class = "input-group">
		             <input class = "form-control"  placeholder="e.g. NGC 2020" name='query' type="text">
	               <span class = "input-group-btn">
	                  <button class = "btn btn-default" type = "submit">
	                     Search
	                  </button>
	               </span>
						  </div>
            </form>
		        </div>
            <div class="col-sm-6 col-xs-12 col-lg-6" style='font-size:0.8em;'>[<a href="{% url 'search' %}">advanced search</a>]</div>
          </div>
        {% endblock %}

            <div class="row">
              <div class="{% block main_span_size %}col-md-8{% endblock %}">
              {% block main-content %}{% endblock %}
              </div>

              <div class="col-md-4">
              {% block right_panel %}{% endblock %}
              </div>
            </div>
  		</div>
  	</section>
    {% endblock%}


<footer>
  <div class="container wide downPage footer">
    <div class="row social">
        <ul class="list-inline social-buttons">
          <li>
          <a href="http://twitter.com/LCO_Global" alt="Las Cumbres Observatory on Twitter">
          <span class="fa-stack fa-2x">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
            </span>
          </a>
          </li>
          <li>
          <a href="http://facebook.com/lascumbresobservatory" alt="Las Cumbres Observatory on Facebook">
          <span class="fa-stack fa-2x">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
            </span>
          </a>
          </li>
          <li>
          <a href="http://lco.global/news/feeds/rss/" alt="Latest news from Las Cumbres Observatory via RSS">
          <span class="fa-stack fa-2x">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
            </span>
          </a>
          </li>
          <li>
          <a href="http://lco.global/news/" alt="Latest news from Las Cumbres Observatory">
          <span class="fa-stack fa-2x">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-newspaper-o fa-stack-1x fa-inverse"></i>
            </span>
          </a>
          </li>

        </ul>
      </div>
      <div class="row">
        <div class="copyright">Copyright &copy; {% now "Y" %} Las Cumbres Observatory. All rights reserved.</div>
      </div>
    </div>
  </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->

        <!-- Bootstrap Core JavaScript -->
				<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="{% static 'js/rti_archive.js' %}"></script>
        <script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>

        {% block extra_js %}{% endblock %}

  </body>
</html>
