{% extends 'images/base.html' %}
{% load images_extras %}

{% block script-content %}{% endblock %}
{%block header %}{{ input.title }}{%endblock%}
{%block title %}{{ input.title }}{%endblock%}

{% block breadcrumb %}
								<ol class="breadcrumb">
									<li><a href="{% url 'home' %}">Observations</a></li>
									<li><a href="{% url 'home' %}{{ input.link }}">{{ input.title }}</a></li>
								</ol>
{% endblock %}

{% block telescopes-list-title %}{% endblock %}

{% block fullcontent %}
    <div class="container">
        <div class="row">
							<p>{{ input.description }}:</p>
						</div>
						<div class="row">
							<div class="time"></div>
							{% if pager %}
							<div class="pager">{{ pager|safe }}</div>
							{% endif %}
							<div>

							<div class='observation-results' data-json="{% url 'home' %}{% if link == 'recent' %}search{% else %}{{ link }}{% endif %}.json{% if input.pager.page > 1 %}?page={{input.pager.page}}{% endif %}" data-update="{% if link == 'recent' %}add{% else %}update{% endif %}" xmlns:dc='http://purl.org/dc/elements/1.1/' xmlns:UCD='http://www.ivoa.net/rdf/Vocabularies/UCD#'>
{% include "images/observationlist.html" with obs=obs %}
							</div>
						</div>
{% endblock %}
