{% extends 'images/base.html' %}
{% load images_extras %}

{%block header %}Observations{%endblock%}

{% block main_span_size %}col-md-12{% endblock %}

{% block fullcontent %}
    <div class="container">
        <div class="row">
							<p>Welcome to the LCO Open Access archive. All data available here is non-proprietary.</p>
						</div>
        <div class="row">
							<h2><a href="{% url 'show_recent' %}">Most recent observations</a></h2>
							<div class="time"></div>
							<ul class="observation-results" data-json="{% url 'home' %}search.json" data-update="add" data-max="7" xmlns:dc='http://purl.org/dc/elements/1.1/' xmlns:UCD='http://www.ivoa.net/rdf/Vocabularies/UCD#'>
{% include "images/archive_obs_list.html" with obs=latest %}
							</ul>
						</div>
						<div class="row">
							<h2><a href="{% url 'show_trending' %}">Currently trending observations</a></h2>
							<ul class='observation-results' data-json="{% url 'home' %}trending.json" data-update="update" data-max="7" xmlns:dc='http://purl.org/dc/elements/1.1/' xmlns:UCD='http://www.ivoa.net/rdf/Vocabularies/UCD#'>
{% include "images/observationlist.html" with obs=trending %}
							</ul>
						</div>
						<div class="row">
							<h2><a href="{% url 'show_popular' %}">All-time most popular observations</a></h2>
							<ul class='observation-results' xmlns:dc='http://purl.org/dc/elements/1.1/' xmlns:UCD='http://www.ivoa.net/rdf/Vocabularies/UCD#'>
{% include "images/observationlist.html" with obs=popular %}
							</ul>
						</div>
				</div>
{% endblock %}
