{% extends 'images/base.html' %}
{% load images_extras %}

{% block script-content %}
<script type="text/javascript">
$(document).ready(function(){

var frame_ids = {{images|safe}};

for (i=0;i<frame_ids.length;i++){
  var frame = frame_ids[i];
  $.ajax({
     url: 'https://thumbnails.lcogt.net/'+ frame+'/?label=javascript',
     data: {
        format: 'json',
     },
     error: function() {
        $('#observations').html('<p>An error has occurred</p>');
     },
     dataType: 'jsonp',
     success: function(data) {
        var $item = $('<li class="thumb">').html('<img src="'+ data.url +'"/>');
        $('#observations').append($item)
     },
     type: 'GET'
  });
}
});

</script>
{% endblock %}

{%block header %}Observations{%endblock%}

{% block main_span_size %}col-md-12{% endblock %}

{% block fullcontent %}
    <div class="container">
        <div class="row">
							<p>Welcome to the LCOGT Open Access archive. All data available here is non-proprietary. You can see the most recent and popular observations below, <a href="{% url 'home' %}search">search</a> by title, or browse <a href="#bysite">by site</a>, <a href="#bytelescope">telescope</a> or <a href="{% url 'category_list' %}">category</a>.</p>
						</div>
        <div class="row">
							<h2><a href="{% url 'show_recent' %}">Most recent observations</a></h2>
							<div class="time"></div>
							<ul class="observation-results" data-json="{% url 'home' %}search.json" data-update="add" data-max="7" xmlns:dc='http://purl.org/dc/elements/1.1/' xmlns:UCD='http://www.ivoa.net/rdf/Vocabularies/UCD#'>
{% include "images/archive_obs_list.html" with obs=latest %}
							</ul>
						</div>
						<div class="row">
							<h2><a href="{% url 'show_trending' %}">Currently trending observations</a></h2>
							<ul class='observation-results' data-json="{% url 'home' %}trending.json" data-update="update" data-max="7" xmlns:dc='http://purl.org/dc/elements/1.1/' xmlns:UCD='http://www.ivoa.net/rdf/Vocabularies/UCD#'>
{% include "images/observationlist.html" with obs=trending %}
							</ul>
						</div>
						<div class="row">
							<h2><a href="{% url 'show_popular' %}">All-time most popular observations</a></h2>
							<ul class='observation-results' xmlns:dc='http://purl.org/dc/elements/1.1/' xmlns:UCD='http://www.ivoa.net/rdf/Vocabularies/UCD#'>
{% include "images/observationlist.html" with obs=popular %}
							</ul>
						</div>
				</div>
{% endblock %}
