{% extends 'images/list.html' %}
{% load images_extras %}

{%block header %}{{ object.name}}{%endblock%}
{%block title %}{{ object.name}}{%endblock%}

{% block breadcrumb %}
								<div class="breadcrumb">
									<a href="{% url 'home' %}">Observations</a> &raquo; {{ object.name}}
								</div>
{% endblock %}

{% block main-content %}
						<div class="row">
							{%if object.ra %}<p>Position: <a href="{% url 'search' %}?RA={{ object.ra }}&DEC={{ object.dec }}&SR=3" title="Search for observations near these coordinates">RA: {{ object.ra|degreestohms }}, Dec: {{ object.dec|degreestodms }}</a>. {% endif %}{% if object.avm.code %}Category: <a href="{% url 'show_avm' object.avm.code %}">{{ object.avm.name|lowercase }}</a>. {% endif %}{%if object.ra %} Find out <a href="{{ object.service.url }}">more about {{ object.name }} from {{ object.service.name }}</a>. {% endif %}There are {{ n }} LCOGT observations tagged as {{ object.name }}.</p>
{% if input.exposure %}
							<p class="skip-link"><em><a href="#results">Skip to observations</a></em></p>
							<div class="gray-7-bg closeable">
								<div class="padded">
									<h2>Summary</h2>
									{% if input.mostobservedby %}<p>{{ object.name }} was most observed by <a href="{% url 'show_user' input.mostobservedby.id %}">{% if  input.mostobservedby.name%}{{ input.mostobservedby.name }}{%else%}Name Unspecified{% endif %}</a> ({{ input.mostobservedby.count }} observations)</p>{% endif %}
									{% if input.bins %}
									<div class="temporalstats">
										<p>A summary of all observations over the past year:</p>
										<div class="temporalplot">
											<div class="temporalbars">
{% for b in input.bins reversed %}											<div class="temporalitem"><div class="temporalnum" style="margin-top:{% widthratio input.binmax|negative:b.count input.binmax 60 %}px;">{% if b.count > 0 %}<a href="{% url 'search' %}?query={{object.name}}&daterange=select&sday=1&smon={{ b.m }}&syear={{b.year}}&eday=31&emon={{b.m}}&eyear={{b.year}}{% if object.avm.code %}&avm={{ object.avm.code }}{% endif %}">{{ b.count }}</a>{% endif %}</div><div class="temporalbar" style="height:{% widthratio b.count input.binmax 60 %}px;{% if not forloop.last %}margin-right:4px;{% endif %}"></div><div class="temporaltxt{% if b.m = 1 %} startyear{% endif %}" style="{% if forloop.last %}padding-right:0px;{% endif %}">{{ b.month }}{% if b.m = 1 %} {{ b.year }}{% endif %}</div></div>{% endfor %}
												<div style="clear:both;"></div>
											</div>
										</div>
									</div>
									{% endif %}
									<div class="exposureplot">
										<p>A summary of all exposure times for {{ object.name }}:</p>
										<ul>
											{% for range in input.exposure %}<li><div class="exposuretxt">{{ range.label }}</div><div class="exposurebar" style="width:{% widthratio range.observations input.exposuremax 60 %}%;"></div> <div class="exposurenum">{% if range.observations > 0 %}<a href="{% url 'search' %}?query={{object.name}}{% if range.min %}&expmin={{ range.min }}{% endif %}{% if range.max %}&expmax={{ range.max }}{% endif %}{% if object.avm.code %}&avm={{ object.avm.code }}{% endif %}">{{ range.observations }}</a>{% endif %}</div></li>{% endfor %}
										</ul>
									</div>
									<div style="clear:both;"></div>
								</div>
							</div>
{% endif %}
						</div>
						<div class="row lastrow">
{% block list %}
							{% if pager %}
							<div class="pager">{{ pager|safe }}</div>
							{% endif %}

							<ul id='results' class='observation-results' xmlns:dc='http://purl.org/dc/elements/1.1/' xmlns:UCD='http://www.ivoa.net/rdf/Vocabularies/UCD#'>
{% include "images/observationlist.html" with obs=obs %}
							</ul>
							{% if pager %}
							<div class="pager">{{ pager|safe }}</div>
							{% endif %}
{% endblock %}
						</div>
{% endblock %}
