{% load images_extras %}
{% for o in obs %}
						<div class="col-xs-6 col-md-2 col-lg-2">
								<div class='thumb' about='{{ o.link_obs }}'>
									<span class='thumb-img'><a href="{% url 'image-detail' o.id %}"><img src="{{o.filename|fetch_thumb_url:o.dateobs}}" alt='{{ o.objectname }}' class="img-rounded"/></a></span>
									<div class="thumb-caption"><div class="title ellipsis" property='UCD:obs' title='{{ o.objectname }}'>{{ o.objectname }}</div><div class="ellipsis">By {%if o.link_user%}<a href="{% url 'home' %}{{ o.link_user }}" class="observer" title="{{ o.user }}" property="UCD:obs.observer">{{ o.user }}</a>{%else%}<span class="observer" title="{{ o.user }}" property="UCD:obs.observer">{{ o.user }}</span>{%endif%}</div></div>

									<div class='more-info'>
										<div class='name'>Title: <a href="{% url 'search' %}?query={{ o.objectname }}" property='dc:title'>{{ o.objectname }}</a></div>
										<div class='position'>RA: {{ o.ra|degreestohms }}, Dec: {{ o.dec|degreestodms }}<br /><span style='font-size:0.7em;'>(View coordinates in <a href='http://server1.wikisky.org/v2?ra={{ o.ra }}&amp;de={{ o.dec}}&amp;zoom=6&amp;img_source=astrophoto'>Wikisky</a> or <a href='http://www.worldwidetelescope.org/wwtweb/goto.aspx?object=ViewShortcut&amp;ra={{ o.ra }}&amp;dec={{ o.dec }}&amp;zoom=3'>WorldWideTelescope</a>)</span></div>
										<div class='telescope'>Site: {{ o.site }}</div>
										<div class='filter'>Filter: {{o.filter|safe}}</div>
										<div class='exposure'>Exposure: {{ o.exposure }} s (total)</div>
										<time datetime='{{ o.dateobs|date:"c" }}'>Taken: {{ o.dateobs|timesince }} ago</time>
									</div>
								</div>
							</div>
{% empty %}
<h3>No Images<h3>
<p>The image database is currently having problems. We're working on fixing this. Sorry for the delay.</p>
{% endfor %}
