{% extends 'images/list.html' %}
{% load static from staticfiles %}
{% load images_extras %}

{% block header %}{% if n >= 0 %}Results of your search{% if form.query != "" %} for {{ searchstring }}{% endif %}{% else %}Search public observations{% endif %}{%endblock%}
{% block title %}{% if n >= 0 %}Results of your search{% if form.query != "" %} for <em>&quot;{{ searchstring }}&quot;</em>{% endif %}{% else %}Search public observations{% endif %}{% endblock %}

{% block header_script %}
 <link rel="stylesheet" href="{% static "css/jquery-ui.css" %}">
 <script src="{% static "js/jquery-ui.min.js" %}"></script>
	<script>
	<!--
	$(document).ready(function(){
    $('.dates input').datepicker({
        format: "yyyy-mm-dd"
    });
	});
	// -->
	</script>
{% endblock %}

{% if n >= 0 %}
{% block search %}
{% endblock %}
{% endif %}

{% block breadcrumb %}
              <ol class="breadcrumb">
							<li><a href="{% url 'home' %}">Observations</a></li>
              <li class="active">{% if n < 0 %}Search{% else %}<a href="{% url 'search' %}">Search</a> &raquo; Results{% endif %}</a></li>
            </ol>
{% endblock %}

{% block alternate-formats %}
{% if n > 0 %}
					<div class="row lastrow">
							<p>Alternative outputs:
								<a title="View RSS feed" rel="alternate" type="application/xml" href="{%url 'search_api' format='rss'%}?{{ request.GET.urlencode}}">RSS</a>,
								<a title="View in Sky for Google Earth" rel="alternate" type="application/vnd.google-earth.kml+xml" href="{% url 'search_api' format='kml' %}">Sky for Google Earth</a>, and
								<a title="View in JSON format" rel="alternate" type="application/json" href="{% url 'search_api' format='json' %}">JSON</a>
							</p>
					</div>
{% endif %}
{% endblock %}

{% block fullcontent %}
{% if n > 0 %}
<div class="container">
    <div class="row">
							<p>{%if onlyrti %}There {% if n > 1 %}are{% else %}is{% endif %} {{ n }} observation{% if n > 1 %}s{% endif %}.{%else%}Showing {{n}} observations taken between {{firstobs|relativetime}} and {{lastobs|relativetime}}. {% endif %}{% if n > 1 %} Newest observations are shown first.{% endif %}{% if avmcode %} You could also search for <a href="{% url 'show_avm' avm=avmcode %}">{{ avmname }}</a>.{% endif %}</p>
						</div>

						<div class="row">
							{% if pager %}
							<div class="pager">{{ pager|safe }}</div>
							{% endif %}
							<div class='observation-results' data-json="{% url 'search_api' format='json' %}{% url_add_query %}" data-update="update" xmlns:dc='http://purl.org/dc/elements/1.1/' xmlns:UCD='http://www.ivoa.net/rdf/Vocabularies/UCD#'>
{% include "images/observationlist.html" with obs=obs %}
							</div>
							{% if n > 18 and onlyrti %}
							<div class="pagination">
							    <span class="step-links">
							        <a href="{% url_add_query lastobs=lastobs %}">Next 18 of {{n}} &rarr;</a>
							    </span>
							</div>
							{% elif not onlyrti %}
							<div class="pagination">
							    <span class="step-links">
							        <a href="{% url_add_query lastobs=lastobs %}"> Older observations &rarr;</a>
							    </span>
							</div>
							{% endif %}
						</div>
          </div>
{% else %}
		<div class="row">
      <div class="container">
{% if n == 0 %}
			<p>We found <strong>0</strong> results matching your search. Don't panic! Try making your search less specific.</p>
{% else %}
			<p>There are several ways to search through all our public observations. Use any combination of the options below to help narrow your search.</p>
{% endif %}

{% if form.errors %}
		{{form.errors}}
{% endif %}
    </div>
	</div>
			<div class="row">
        <div class="container">
          <form action="" method="get" id="rti-archive-form" class="form-horizontal" role="form">
            <div class="form-group">
              <label class="control-label col-sm-2" for="edit-ObName">Object Name:</label>
              <div class="col-sm-10">
                {{form.query}}
                <p class="help-block">The name of a single astronomical object e.g. &quot;<em>Orion Nebula</em>&quot;. This is a simple title search so <em>Saturn</em> would match both &quot;<em>Saturn</em>&quot; and &quot;<em>NGC7009 (Saturn Nebula)</em>&quot;.</p>
              </div>
            </div>

          <div class="form-group dates">
              <label class="control-label col-sm-2" for="id_alldates">Date range:</label>

            <div class="col-sm-5">
              <label for="startdate">Start date</label>
              <input type="text" class="form-control"  name="startdate" placeholder="Start date" value="{{form.startdate.value}}"/>
            </div>
            <div class="col-sm-5">
              <label for="enddate">End date</label>
              <input type=text class="form-control" name="enddate" placeholder="End date" value="{{form.enddate.value}}"/>
            {% if form.startdate.errors or form.enddate.errors %}<span class="error form-error">{{form.startdate.errors.as_text}} {{form.enddate.errors.as_text}}</span>{% endif %}
            <p class="help-block">Limit your search to a particular range of dates.</p>
          </div>
        </div>

					<input type="submit" name="submit" id="edit-submit" value="Search" class="btn btn-default btn-lg" />
      </form>
      </div>
		</div>
{% endif %}
{% endblock %}
