{% extends 'images/list.html' %}
{% load static from staticfiles %}
{% load images_extras %}

{% block header %}{% if n >= 0 %}Results of your search{% if form.query != "" %} for {{ searchstring }}{% endif %}{% else %}Search public observations{% endif %}{%endblock%}
{% block title %}{% if n >= 0 %}Results of your search{% if form.query != "" %} for <em>&quot;{{ searchstring }}&quot;</em>{% endif %}{% else %}Search public observations{% endif %}{% endblock %}

{% block header_script %}
 <link rel="stylesheet" href="{% static "css/jquery-ui.css" %}">
 <script src="{% static "js/jquery-ui.min.js" %}"></script>
	<script>
	<!--
	$(document).ready(function(){
    $('.dates input').datepicker({
        format: "yyyy-mm-dd"
    });

    $('.archive-thumb-img img').each(function(i, el){
      var frameid= $(el).data('frameid');
      if (typeof(frameid) != 'undefined'){
        $.get("https://thumbnails.lco.global/"+ frameid+"/?height=200&width=200", function(data){
          img_url = data.url;
          $(el).attr('src',img_url);
        });
      }
     });

	});
	// -->
	</script>
{% endblock %}

{% if n >= 0 %}
{% block search %}
{% endblock %}
{% endif %}

{% block breadcrumb %}
              <ol class="breadcrumb">
							<li><a href="{% url 'home' %}">Observations</a></li>
              <li class="active">{% if n < 0 %}Search{% else %}<a href="{% url 'search' %}">Search</a> &raquo; Results{% endif %}</a></li>
            </ol>
{% endblock %}


{% block fullcontent %}
{% if n > 0 %}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-xs-12">
        <form class="form-search" action="{% url 'search' %}" method='GET'>
          <div class = "input-group">
             <input class = "form-control"  placeholder="e.g. NGC 2020" name='query' type="text">
             <span class = "input-group-btn">
                <button class = "btn btn-default" type = "submit">
                   Search
                </button>
             </span>
          </div>
        </form>
        </div>
        <div class="col-sm-6 col-xs-12 col-lg-6" style='font-size:0.8em;'>[<a href="{% url 'search' %}">advanced search</a>]</div>
      </div>
    <div class="row">
			<p>{%if onlyrti %}There {% if n > 1 %}are{% else %}is{% endif %} {{ n }} observation{% if n > 1 %}s{% endif %}.{%else%}We found {{n}} observations. {% endif %}{% if n > 1 %} Newest observations are shown first.{% endif %}{% if avmcode %} You could also search for <a href="{% url 'show_avm' avm=avmcode %}">{{ avmname }}</a>.{% endif %}</p>
		</div>

		{% if pager %}
    <div class="row">
			<div class="pager">{{ pager|safe }}</div>
    </div>
				{% endif %}

    {% if obs.archive %}
    <div class="row">
      <h2>Recent Data</h2>
			<div class='observation-results' data-update="update" xmlns:dc='http://purl.org/dc/elements/1.1/' xmlns:UCD='http://www.ivoa.net/rdf/Vocabularies/UCD#'>
{% include "images/archive_obs_list.html" with obs=obs.archive %}
    </div>
    {% endif %}
    {% if obs.rti %}
    <div class="row">
      <h2>Older Data</h2>
			<div class='observation-results' data-update="update" xmlns:dc='http://purl.org/dc/elements/1.1/' xmlns:UCD='http://www.ivoa.net/rdf/Vocabularies/UCD#'>
{% include "images/observationlist.html" with obs=obs.rti %}
      </div>
    </div>
    {% endif %}

							<div class="pagination">
							    <span class="step-links">
							        <a href="{% url_add_query offset=offset %}"> Older observations &rarr;</a>
							    </span>
							</div>
						</div>
          </div>
{% else %}
		<div class="row">
      <div class="container">
{% if n == 0 %}
			<p>We found <strong>0</strong> results matching your search. Don't panic! Try making your search less specific.</p>
{% else %}
			<p>There are several ways to search through all our public observations. Use any combination of the options below to help narrow your search.</p>
{% endif %}

{% if form.errors %}
		{{form.errors}}
{% endif %}
    </div>
	</div>
			<div class="row">
        <div class="container">
          <form action="" method="get" id="rti-archive-form" class="form-horizontal" role="form">
            <div class="form-group">
              <label class="control-label col-sm-2" for="edit-ObName">Object Name:</label>
              <div class="col-sm-10">
                {{form.query}}
                <p class="help-block">The name of a single astronomical object e.g. &quot;<em>Orion Nebula</em>&quot;. This is a simple title search so <em>Saturn</em> would match both &quot;<em>Saturn</em>&quot; and &quot;<em>NGC7009 (Saturn Nebula)</em>&quot;.</p>
              </div>
            </div>

          <div class="form-group dates">
              <label class="control-label col-sm-2" for="id_alldates">Date range:</label>

            <div class="col-sm-5">
              <label for="startdate">Start date</label>
              <input type="text" class="form-control"  name="startdate" placeholder="Start date" value="{{form.startdate.value}}"/>
            </div>
            <div class="col-sm-5">
              <label for="enddate">End date</label>
              <input type=text class="form-control" name="enddate" placeholder="End date" value="{{form.enddate.value}}"/>
            {% if form.startdate.errors or form.enddate.errors %}<span class="error form-error">{{form.startdate.errors.as_text}} {{form.enddate.errors.as_text}}</span>{% endif %}
            <p class="help-block">Limit your search to a particular range of dates.</p>
          </div>
        </div>

					<input type="submit" name="submit" id="edit-submit" value="Search" class="btn btn-default btn-lg" />
      </form>
      </div>
		</div>
{% endif %}
{% endblock %}
