{% extends 'images/base.html' %}
{% load staticfiles %}
{% load images_extras %}

{% block header_script %}
	<meta http-equiv="X-UA-Compatible" content="IE=9" />
	<!--[if lt IE 9]><script src="http://virtualsky.lco.global/embed/excanvas.min.js" type="text/javascript"></script><![endif]-->
	<script type="text/javascript" src="{% static "js/virtualsky-0.6.2.js" %}"></script>
	<script type="text/javascript">
	var lat{% if site.latitude %} = {{ site.latitude }}{% endif %};
	var lon{% if site.longitude %} = {{ site.longitude }}{% endif %};
	var json = "{% url 'site_api' site.code 'json' %}";
	$(document).ready(function(){
		$('.dates input').datepicker({
				format: "yyyy-mm-dd"
		});

		$('.archive-thumb-img img').each(function(i, el){
			var frameid= $(el).data('frameid');
			if (typeof(frameid) != 'undefined'){
				$.get("https://thumbnails.lco.global/"+ frameid+"/?height=200&width=200", function(data){
					img_url = data.url;
					$(el).attr('src',img_url);
				});
			}
		 });

	});
	</script>
	<script type="text/javascript" src='{% static "js/rti_archive_virtualsky.js" %}'></script>
{% endblock %}

{%block header %}{{ site.name }}{%endblock%}
{%block title %}{{ site.name }}{%endblock%}

{% block breadcrumb %}
									<ol class="breadcrumb">
									<li><a href="{% url 'home' %}">Observations</a></li>
									<li class="active">{{ site.name }}</li>
								</ol>
{% endblock %}

{% block telescopes-list-title %}Telescopes at this site:{% endblock %}
{% block sites-list-title %}Other sites:{% endblock %}

{% block main_span_size %}col-md-12{% endblock %}

{% block fullcontent %}
    <div class="container">
						<div class="row">
							{% if input.pager.start < 1 %}<div id="starmap" class="sixcol" style="height:300px;"></div>{% endif %}
							<p>{% if n > 1 %}Below are the most recent observations taken from {%if site.drupalnode %}<a href="http://lco.global/sites/{{ site.code }}">{{ site.name }}</a>{% else %}{{ site.name }}{% endif %}.{% else %}We have not yet taken any public observations from this site.{% endif %} You can also check out the latest <a href="http://lco.global/weather/{{ site.code }}">weather status at {{ site.name }}</a>.</p>
						</div>{% if n > 1 %}
						<div class="row">
							{% if pager %}
							<div class="pager">{{ pager|safe }}</div>
							{% endif %}
							<ul class='observation-results' data-json="{% url 'site_api' site.code 'json' %}{% if input.pager.page > 1 %}?page={{input.pager.page}}{% endif %}" data-update="update" xmlns:dc='http://purl.org/dc/elements/1.1/' xmlns:UCD='http://www.ivoa.net/rdf/Vocabularies/UCD#'>
{% include "images/archive_obs_list.html" with obs=obs %}
							</ul>
							{% if pager %}
							<div class="pager">{{ pager|safe }}</div>
							{% endif %}
						</div>{% endif %}
		</div>
{% endblock %}
