{% extends 'images/base.html' %}
{% load staticfiles %}
{% load images_extras %}

{% block script-content %}
	<meta http-equiv="X-UA-Compatible" content="IE=9" />
	<!--[if lt IE 9]><script src="http://lcogt.net/virtualsky/embed/excanvas.min.js" type="text/javascript"></script><![endif]-->
	<script type="text/javascript" src="http://lcogt.net/virtualsky/embed/virtualsky.min.js"></script>
	<script type="text/javascript">
	var lat{% if site.latitude %} = {{ site.latitude }}{% endif %};
	var lon{% if site.longitude %} = {{ site.longitude }}{% endif %};
	var json = "{% url 'site_api' site.code 'json' %}";
	</script>
	<script type="text/javascript" src='{% static "js/rti_archive_virtualsky.js" %}'></script>
{% endblock %}

{%block header %}{{ site.name }}{%endblock%}
{%block title %}{{ site.name }}{%endblock%}

{% block breadcrumb %}
									<ol class="breadcrumb">
									<li><a href="{% url 'home' %}">Observations</a></li>
									<li class="active">{{ site.name }}</li>
								</ol>
{% endblock %}

{% block telescopes-list-title %}Telescopes at this site:{% endblock %}
{% block sites-list-title %}Other sites:{% endblock %}

{% block main_span_size %}col-md-12{% endblock %}

{% block fullcontent %}
    <div class="container">
						<div class="row">
							<p>{% if n > 1 %}Below are the most recent observations taken from {%if site.drupalnode %}<a href="http://lcogt.net/sites/{{ site.code }}">{{ site.name }}</a>{% else %}{{ site.name }}{% endif %}.{% else %}We have not yet taken any public observations from this site.{% endif %} You can also check out the latest <a href="http://lcogt.net/weather/{{ site.code }}">weather status at {{ site.name }}</a>.</p>
							{% if input.pager.start < 1 %}<div id="starmap" class="sixcol" style="height:300px;"></div>{% endif %}
						</div>{% if n > 1 %}
						<div class="row lastrow">
							{% if pager %}
							<div class="pager">{{ pager|safe }}</div>
							{% endif %}
							<ul class='observation-results' data-json="{% url 'site_api' site.code 'json' %}{% if input.pager.page > 1 %}?page={{input.pager.page}}{% endif %}" data-update="update" xmlns:dc='http://purl.org/dc/elements/1.1/' xmlns:UCD='http://www.ivoa.net/rdf/Vocabularies/UCD#'>
{% include "images/observationlist.html" with obs=obs %}
							</ul>
							{% if pager %}
							<div class="pager">{{ pager|safe }}</div>
							{% endif %}
						</div>{% endif %}
{% endblock %}
