{% extends 'images/base.html' %}
{% load static from staticfiles %}
{% load images_extras %}

{% block script-content %}
	<meta http-equiv="X-UA-Compatible" content="IE=9" />
	<!--[if lt IE 9]><script src="http://lcogt.net/virtualsky/embed/excanvas.min.js" type="text/javascript"></script><![endif]-->
	<script type="text/javascript" src="http://lcogt.net/virtualsky/embed/virtualsky.min.js"></script>
	<script type="text/javascript">
	var lat{% if telescope.site.latitude %} = {{ telescope.site.latitude }}{% endif %};
	var lon{% if telescope.site.longitude %} = {{ telescope.site.longitude }}{% endif %};
	var json = "{% url 'home' %}{{link}}.json";
	</script>
	<script type="text/javascript" src="{% static "js/rti_archive_virtualsky.js" %}"></script>
{% endblock %}
{%block header %}{{ telescope.name }}{%endblock%}
{%block title %}{{ telescope.name }}{%endblock%}

{% block breadcrumb %}
								<div class="breadcrumb">
									<a href="{% url 'home' %}">Observations</a> &raquo; <a href="{% url 'show_site' telescope.site.code %}">{{ telescope.site.name }}</a> &raquo; {% if telescope.short %}{{ telescope.short }}{% else %}{{ telescope.name }}{% endif %}
								</div>
{% endblock %}

{% block telescopes-list-title %}Nearby Telescopes:{% endblock %}
{% block sites-list-title %}Other sites:{% endblock %}

{% block fullcontent %}
    <div class="container">
        <div class="row">
							<p>Below are the most recent observations taken by {{ telescope.name }}, {%if telescope.site.drupalnode %}<a href="http://lcogt.net/{{ telescope.site.drupalnode }}">{{ telescope.site.name }}</a>{% else %}{{ telescope.site.name }}{% endif %}:</p>
							{% if input.pager.start < 1 %}<div id="starmap" style="height:300px;"></div>{% endif %}
{% include "images/summary.html" with input=input user=user %}
						</div>
						<div class="row">
							{% if pager %}
							<div class="pager">{{ pager|safe }}</div>
							{% endif %}

							<ul class='observation-results' data-json="{% url 'home' %}{{ link }}.json{% if input.pager.page > 1 %}?page={{input.pager.page}}{% endif %}" data-update="update" xmlns:dc='http://purl.org/dc/elements/1.1/' xmlns:UCD='http://www.ivoa.net/rdf/Vocabularies/UCD#'>
{% include "images/observationlist.html" with obs=obs %}
							</ul>
							{% if pager %}
							<div class="pager">{{ pager|safe }}</div>
							{% endif %}
						</div>
					</div>
			</div>
{% endblock %}
